components/mediation-admin/org.wso2.carbon.mediation.library/src/main/resources/MediationLibraryAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://service.library.mediation.carbon.wso2.org" xmlns:ax2310="http://service.library.mediation.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.library.mediation.carbon.wso2.org">
    <wsdl:documentation>MediationLibraryAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.library.mediation.carbon.wso2.org/xsd">
            <xs:complexType name="LibraryInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="QName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="libName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="packageName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2311="http://service.library.mediation.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
            <xs:import namespace="http://service.library.mediation.carbon.wso2.org/xsd" />
            <xs:element name="getImport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="qualifiedName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getImportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLibraryInfo">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLibraryInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2310:LibraryInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLibraries">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllLibrariesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllImports">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllImportsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MediationLibraryAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MediationLibraryAdminServiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deleteLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libQualifiedName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteImport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="importQualifiedName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addImport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="libName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="packageName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addImportRequest">
        <wsdl:part name="parameters" element="ns:addImport" />
    </wsdl:message>
    <wsdl:message name="getAllLibrariesRequest">
        <wsdl:part name="parameters" element="ns:getAllLibraries" />
    </wsdl:message>
    <wsdl:message name="getAllLibrariesResponse">
        <wsdl:part name="parameters" element="ns:getAllLibrariesResponse" />
    </wsdl:message>
    <wsdl:message name="deleteImportRequest">
        <wsdl:part name="parameters" element="ns:deleteImport" />
    </wsdl:message>
    <wsdl:message name="deleteLibraryRequest">
        <wsdl:part name="parameters" element="ns:deleteLibrary" />
    </wsdl:message>
    <wsdl:message name="MediationLibraryAdminServiceException">
        <wsdl:part name="parameters" element="ns:MediationLibraryAdminServiceException" />
    </wsdl:message>
    <wsdl:message name="getAllImportsRequest">
        <wsdl:part name="parameters" element="ns:getAllImports" />
    </wsdl:message>
    <wsdl:message name="getAllImportsResponse">
        <wsdl:part name="parameters" element="ns:getAllImportsResponse" />
    </wsdl:message>
    <wsdl:message name="getAllLibraryInfoRequest">
        <wsdl:part name="parameters" element="ns:getAllLibraryInfo" />
    </wsdl:message>
    <wsdl:message name="getAllLibraryInfoResponse">
        <wsdl:part name="parameters" element="ns:getAllLibraryInfoResponse" />
    </wsdl:message>
    <wsdl:message name="getImportRequest">
        <wsdl:part name="parameters" element="ns:getImport" />
    </wsdl:message>
    <wsdl:message name="getImportResponse">
        <wsdl:part name="parameters" element="ns:getImportResponse" />
    </wsdl:message>
    <wsdl:portType name="MediationLibraryAdminServicePortType">
        <wsdl:operation name="addImport">
            <wsdl:input message="tns:addImportRequest" wsaw:Action="urn:addImport" />
        </wsdl:operation>
        <wsdl:operation name="getAllLibraries">
            <wsdl:input message="tns:getAllLibrariesRequest" wsaw:Action="urn:getAllLibraries" />
            <wsdl:output message="tns:getAllLibrariesResponse" wsaw:Action="urn:getAllLibrariesResponse" />
        </wsdl:operation>
        <wsdl:operation name="deleteImport">
            <wsdl:input message="tns:deleteImportRequest" wsaw:Action="urn:deleteImport" />
        </wsdl:operation>
        <wsdl:operation name="deleteLibrary">
            <wsdl:input message="tns:deleteLibraryRequest" wsaw:Action="urn:deleteLibrary" />
            <wsdl:fault message="tns:MediationLibraryAdminServiceException" name="MediationLibraryAdminServiceException" wsaw:Action="urn:deleteLibraryMediationLibraryAdminServiceException" />
        </wsdl:operation>
        <wsdl:operation name="getAllImports">
            <wsdl:input message="tns:getAllImportsRequest" wsaw:Action="urn:getAllImports" />
            <wsdl:output message="tns:getAllImportsResponse" wsaw:Action="urn:getAllImportsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getAllLibraryInfo">
            <wsdl:input message="tns:getAllLibraryInfoRequest" wsaw:Action="urn:getAllLibraryInfo" />
            <wsdl:output message="tns:getAllLibraryInfoResponse" wsaw:Action="urn:getAllLibraryInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="getImport">
            <wsdl:input message="tns:getImportRequest" wsaw:Action="urn:getImport" />
            <wsdl:output message="tns:getImportResponse" wsaw:Action="urn:getImportResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MediationLibraryAdminServiceSoap11Binding" type="tns:MediationLibraryAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addImport">
            <soap:operation soapAction="urn:addImport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllLibraries">
            <soap:operation soapAction="urn:getAllLibraries" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteImport">
            <soap:operation soapAction="urn:deleteImport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllImports">
            <soap:operation soapAction="urn:getAllImports" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLibrary">
            <soap:operation soapAction="urn:deleteLibrary" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="MediationLibraryAdminServiceException">
                <soap:fault use="literal" name="MediationLibraryAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getImport">
            <soap:operation soapAction="urn:getImport" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLibraryInfo">
            <soap:operation soapAction="urn:getAllLibraryInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MediationLibraryAdminServiceSoap12Binding" type="tns:MediationLibraryAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addImport">
            <soap12:operation soapAction="urn:addImport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllLibraries">
            <soap12:operation soapAction="urn:getAllLibraries" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteImport">
            <soap12:operation soapAction="urn:deleteImport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllImports">
            <soap12:operation soapAction="urn:getAllImports" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLibrary">
            <soap12:operation soapAction="urn:deleteLibrary" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="MediationLibraryAdminServiceException">
                <soap12:fault use="literal" name="MediationLibraryAdminServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getImport">
            <soap12:operation soapAction="urn:getImport" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLibraryInfo">
            <soap12:operation soapAction="urn:getAllLibraryInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MediationLibraryAdminServiceHttpBinding" type="tns:MediationLibraryAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="addImport">
            <http:operation location="addImport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllLibraries">
            <http:operation location="getAllLibraries" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteImport">
            <http:operation location="deleteImport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllImports">
            <http:operation location="getAllImports" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLibrary">
            <http:operation location="deleteLibrary" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getImport">
            <http:operation location="getImport" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllLibraryInfo">
            <http:operation location="getAllLibraryInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MediationLibraryAdminService">
        <wsdl:port name="MediationLibraryAdminServiceHttpsSoap11Endpoint" binding="tns:MediationLibraryAdminServiceSoap11Binding">
            <soap:address location="https://usw-laptop:8243/services/MediationLibraryAdminService.MediationLibraryAdminServiceHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="MediationLibraryAdminServiceHttpsSoap12Endpoint" binding="tns:MediationLibraryAdminServiceSoap12Binding">
            <soap12:address location="https://usw-laptop:8243/services/MediationLibraryAdminService.MediationLibraryAdminServiceHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="MediationLibraryAdminServiceHttpsEndpoint" binding="tns:MediationLibraryAdminServiceHttpBinding">
            <http:address location="https://usw-laptop:8243/services/MediationLibraryAdminService.MediationLibraryAdminServiceHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>