service-stubs/mediation-monitor/org.wso2.carbon.das.messageflow.data.publisher.stub/src/main/resources/DASMessageFlowPublisherAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.publisher.data.messageflow.das.carbon.wso2.org" xmlns:ax298="http://conf.publisher.data.messageflow.das.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.publisher.data.messageflow.das.carbon.wso2.org">
   <wsdl:documentation>DASMessageFlowPublisherAdmin</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax299="http://conf.publisher.data.messageflow.das.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
         <xs:import namespace="http://conf.publisher.data.messageflow.das.carbon.wso2.org/xsd"/>
         <xs:element name="configureEventing">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="config" nillable="true" type="ax298:PublisherConfig"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getEventingConfigData">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getEventingConfigDataResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax298:PublisherConfig"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllPublisherNames">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllPublisherNamesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax298:PublisherConfig"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isCollectingEnabled">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="isCollectingEnabledResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeServer">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeServerResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://conf.publisher.data.messageflow.das.carbon.wso2.org/xsd">
         <xs:complexType name="PublisherConfig">
            <xs:sequence>
               <xs:element minOccurs="0" name="loadBalancingEnabled" type="xs:boolean"/>
               <xs:element minOccurs="0" name="messageFlowPublishingEnabled" type="xs:boolean"/>
               <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax298:Property"/>
               <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Property">
            <xs:sequence>
               <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="configureEventingRequest">
      <wsdl:part name="parameters" element="ns1:configureEventing"/>
   </wsdl:message>
   <wsdl:message name="removeServerRequest">
      <wsdl:part name="parameters" element="ns1:removeServer"/>
   </wsdl:message>
   <wsdl:message name="removeServerResponse">
      <wsdl:part name="parameters" element="ns1:removeServerResponse"/>
   </wsdl:message>
   <wsdl:message name="isCollectingEnabledRequest">
      <wsdl:part name="parameters" element="ns1:isCollectingEnabled"/>
   </wsdl:message>
   <wsdl:message name="isCollectingEnabledResponse">
      <wsdl:part name="parameters" element="ns1:isCollectingEnabledResponse"/>
   </wsdl:message>
   <wsdl:message name="getEventingConfigDataRequest">
      <wsdl:part name="parameters" element="ns1:getEventingConfigData"/>
   </wsdl:message>
   <wsdl:message name="getEventingConfigDataResponse">
      <wsdl:part name="parameters" element="ns1:getEventingConfigDataResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllPublisherNamesRequest">
      <wsdl:part name="parameters" element="ns1:getAllPublisherNames"/>
   </wsdl:message>
   <wsdl:message name="getAllPublisherNamesResponse">
      <wsdl:part name="parameters" element="ns1:getAllPublisherNamesResponse"/>
   </wsdl:message>
   <wsdl:portType name="DASMessageFlowPublisherAdminPortType">
      <wsdl:operation name="configureEventing">
         <wsdl:input message="tns:configureEventingRequest" wsaw:Action="urn:configureEventing"/>
      </wsdl:operation>
      <wsdl:operation name="removeServer">
         <wsdl:input message="tns:removeServerRequest" wsaw:Action="urn:removeServer"/>
         <wsdl:output message="tns:removeServerResponse" wsaw:Action="urn:removeServerResponse"/>
      </wsdl:operation>
      <wsdl:operation name="isCollectingEnabled">
         <wsdl:input message="tns:isCollectingEnabledRequest" wsaw:Action="urn:isCollectingEnabled"/>
         <wsdl:output message="tns:isCollectingEnabledResponse" wsaw:Action="urn:isCollectingEnabledResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getEventingConfigData">
         <wsdl:input message="tns:getEventingConfigDataRequest" wsaw:Action="urn:getEventingConfigData"/>
         <wsdl:output message="tns:getEventingConfigDataResponse" wsaw:Action="urn:getEventingConfigDataResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getAllPublisherNames">
         <wsdl:input message="tns:getAllPublisherNamesRequest" wsaw:Action="urn:getAllPublisherNames"/>
         <wsdl:output message="tns:getAllPublisherNamesResponse" wsaw:Action="urn:getAllPublisherNamesResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="DASMessageFlowPublisherAdminSoap11Binding" type="tns:DASMessageFlowPublisherAdminPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="configureEventing">
         <soap:operation soapAction="urn:configureEventing" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="removeServer">
         <soap:operation soapAction="urn:removeServer" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="isCollectingEnabled">
         <soap:operation soapAction="urn:isCollectingEnabled" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getEventingConfigData">
         <soap:operation soapAction="urn:getEventingConfigData" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllPublisherNames">
         <soap:operation soapAction="urn:getAllPublisherNames" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="DASMessageFlowPublisherAdminSoap12Binding" type="tns:DASMessageFlowPublisherAdminPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="configureEventing">
         <soap12:operation soapAction="urn:configureEventing" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="removeServer">
         <soap12:operation soapAction="urn:removeServer" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="isCollectingEnabled">
         <soap12:operation soapAction="urn:isCollectingEnabled" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getEventingConfigData">
         <soap12:operation soapAction="urn:getEventingConfigData" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllPublisherNames">
         <soap12:operation soapAction="urn:getAllPublisherNames" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="DASMessageFlowPublisherAdminHttpBinding" type="tns:DASMessageFlowPublisherAdminPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="configureEventing">
         <http:operation location="configureEventing"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="removeServer">
         <http:operation location="removeServer"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="isCollectingEnabled">
         <http:operation location="isCollectingEnabled"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getEventingConfigData">
         <http:operation location="getEventingConfigData"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getAllPublisherNames">
         <http:operation location="getAllPublisherNames"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="DASMessageFlowPublisherAdmin">
      <wsdl:port name="DASMessageFlowPublisherAdminHttpsSoap11Endpoint" binding="tns:DASMessageFlowPublisherAdminSoap11Binding">
         <soap:address location="https://buddhima-pc:8245/services/DASMessageFlowPublisherAdmin.DASMessageFlowPublisherAdminHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="DASMessageFlowPublisherAdminHttpsSoap12Endpoint" binding="tns:DASMessageFlowPublisherAdminSoap12Binding">
         <soap12:address location="https://buddhima-pc:8245/services/DASMessageFlowPublisherAdmin.DASMessageFlowPublisherAdminHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="DASMessageFlowPublisherAdminHttpsEndpoint" binding="tns:DASMessageFlowPublisherAdminHttpBinding">
         <http:address location="https://buddhima-pc:8245/services/DASMessageFlowPublisherAdmin.DASMessageFlowPublisherAdminHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>