components/mediation-ui/mediators-ui/org.wso2.carbon.mediator.event.ui/src/main/resources/EventSourceAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2140="http://dto.service.eventsource.eventing.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://service.eventsource.eventing.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.eventsource.eventing.carbon.wso2.org">
    <wsdl:documentation>EventSourceAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2141="http://dto.service.eventsource.eventing.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.eventsource.eventing.carbon.wso2.org">
    <xs:import namespace="http://dto.service.eventsource.eventing.carbon.wso2.org/xsd" />
    <xs:element name="getEventSource">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="eventSourceName" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getEventSourceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" nillable="true" type="ax2141:EventSourceDTO" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getEventSourcesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2141:EventSourceDTO" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addEventSource">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="eventsource" nillable="true" type="ax2141:EventSourceDTO" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="removeEventSource">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="eventsourceName" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="saveEventSource">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="eventsource" nillable="true" type="ax2141:EventSourceDTO" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.service.eventsource.eventing.carbon.wso2.org/xsd">
    <xs:complexType name="EventSourceDTO">
        <xs:all>
            <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="registryUrl" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="topicHeaderNS" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="topicHeaderName" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        </xs:all>
    </xs:complexType>
</xs:schema>
    </wsdl:types>
    <wsdl:message name="removeEventSourceRequest">
        <wsdl:part name="parameters" element="ns:removeEventSource" />
    </wsdl:message>
    <wsdl:message name="saveEventSourceRequest">
        <wsdl:part name="parameters" element="ns:saveEventSource" />
    </wsdl:message>
    <wsdl:message name="getEventSourceRequest">
        <wsdl:part name="parameters" element="ns:getEventSource" />
    </wsdl:message>
    <wsdl:message name="getEventSourceResponse">
        <wsdl:part name="parameters" element="ns:getEventSourceResponse" />
    </wsdl:message>
    <wsdl:message name="addEventSourceRequest">
        <wsdl:part name="parameters" element="ns:addEventSource" />
    </wsdl:message>
    <wsdl:message name="getEventSourcesRequest" />
    <wsdl:message name="getEventSourcesResponse">
        <wsdl:part name="parameters" element="ns:getEventSourcesResponse" />
    </wsdl:message>
    <wsdl:portType name="EventSourceAdminServicePortType">
        <wsdl:operation name="removeEventSource">
            <wsdl:input message="ns:removeEventSourceRequest" wsaw:Action="urn:removeEventSource" />
        </wsdl:operation>
        <wsdl:operation name="saveEventSource">
            <wsdl:input message="ns:saveEventSourceRequest" wsaw:Action="urn:saveEventSource" />
        </wsdl:operation>
        <wsdl:operation name="getEventSource">
            <wsdl:input message="ns:getEventSourceRequest" wsaw:Action="urn:getEventSource" />
            <wsdl:output message="ns:getEventSourceResponse" wsaw:Action="urn:getEventSourceResponse" />
        </wsdl:operation>
        <wsdl:operation name="addEventSource">
            <wsdl:input message="ns:addEventSourceRequest" wsaw:Action="urn:addEventSource" />
        </wsdl:operation>
        <wsdl:operation name="getEventSources">
            <wsdl:input message="ns:getEventSourcesRequest" wsaw:Action="urn:getEventSources" />
            <wsdl:output message="ns:getEventSourcesResponse" wsaw:Action="urn:getEventSourcesResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventSourceAdminServiceSoap11Binding" type="ns:EventSourceAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="removeEventSource">
            <soap:operation soapAction="urn:removeEventSource" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="saveEventSource">
            <soap:operation soapAction="urn:saveEventSource" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventSource">
            <soap:operation soapAction="urn:getEventSource" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventSources">
            <soap:operation soapAction="urn:getEventSources" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEventSource">
            <soap:operation soapAction="urn:addEventSource" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventSourceAdminServiceSoap12Binding" type="ns:EventSourceAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="removeEventSource">
            <soap12:operation soapAction="urn:removeEventSource" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="saveEventSource">
            <soap12:operation soapAction="urn:saveEventSource" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventSource">
            <soap12:operation soapAction="urn:getEventSource" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventSources">
            <soap12:operation soapAction="urn:getEventSources" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEventSource">
            <soap12:operation soapAction="urn:addEventSource" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventSourceAdminServiceHttpBinding" type="ns:EventSourceAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="removeEventSource">
            <http:operation location="EventSourceAdminService/removeEventSource" />
            <wsdl:input>
                <mime:content type="text/xml" part="removeEventSource" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="saveEventSource">
            <http:operation location="EventSourceAdminService/saveEventSource" />
            <wsdl:input>
                <mime:content type="text/xml" part="saveEventSource" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventSource">
            <http:operation location="EventSourceAdminService/getEventSource" />
            <wsdl:input>
                <mime:content type="text/xml" part="getEventSource" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEventSource" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventSources">
            <http:operation location="EventSourceAdminService/getEventSources" />
            <wsdl:input>
                <mime:content type="text/xml" part="getEventSources" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEventSources" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEventSource">
            <http:operation location="EventSourceAdminService/addEventSource" />
            <wsdl:input>
                <mime:content type="text/xml" part="addEventSource" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventSourceAdminService">
        <wsdl:port name="EventSourceAdminServiceHttpsSoap11Endpoint" binding="ns:EventSourceAdminServiceSoap11Binding">
            <soap:address location="https://prabath:8243/services/EventSourceAdminService.EventSourceAdminServiceHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="EventSourceAdminServiceHttpsSoap12Endpoint" binding="ns:EventSourceAdminServiceSoap12Binding">
            <soap12:address location="https://prabath:8243/services/EventSourceAdminService.EventSourceAdminServiceHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="EventSourceAdminServiceHttpsEndpoint" binding="ns:EventSourceAdminServiceHttpBinding">
            <http:address location="https://prabath:8243/services/EventSourceAdminService.EventSourceAdminServiceHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>