service-stubs/org.wso2.carbon.mediation.configadmin.stub/src/main/resources/configadmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://configadmin.mediation.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2265="http://configadmin.mediation.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://configadmin.mediation.carbon.wso2.org"> 
    <wsdl:documentation>ConfigServiceAdmin</wsdl:documentation> 
    <wsdl:types> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://configadmin.mediation.carbon.wso2.org/xsd"> 
            <xs:complexType name="ValidationError"> 
                <xs:all> 
                    <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" /> 
                </xs:all> 
            </xs:complexType> 
            <xs:complexType name="ConfigurationInformation"> 
                <xs:all> 
                    <xs:element minOccurs="0" name="active" type="xs:boolean" /> 
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" /> 
                </xs:all> 
            </xs:complexType> 
        </xs:schema> 
        <xs:schema xmlns:ax2266="http://configadmin.mediation.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd"> 
            <xs:import namespace="http://configadmin.mediation.carbon.wso2.org/xsd" /> 
            <xs:element name="validateConfiguration"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:any/>
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="validateConfigurationResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2265:ValidationError" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="updateConfiguration"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:any/>
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="updateConfigurationResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" type="xs:boolean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="saveConfigurationToDisk"> 
                <xs:complexType> 
                    <xs:sequence /> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="saveConfigurationToDiskResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" type="xs:boolean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getConfigurationList"> 
                <xs:complexType> 
                    <xs:sequence /> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getConfigurationListResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2265:ConfigurationInformation" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getConfiguration"> 
                <xs:complexType> 
                    <xs:sequence /> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getConfigurationResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="deleteConfiguration"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="deleteConfigurationResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" type="xs:boolean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="create"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" /> 
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="createResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" type="xs:boolean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="addExistingConfiguration"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="addExistingConfigurationResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" type="xs:boolean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="activate"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="activateResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" type="xs:boolean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:schema> 
    </wsdl:types> 
    <wsdl:message name="createRequest"> 
        <wsdl:part name="parameters" element="ns:create" /> 
    </wsdl:message> 
    <wsdl:message name="createResponse"> 
        <wsdl:part name="parameters" element="ns:createResponse" /> 
    </wsdl:message> 
    <wsdl:message name="validateConfigurationRequest"> 
        <wsdl:part name="parameters" element="ns:validateConfiguration" /> 
    </wsdl:message> 
    <wsdl:message name="validateConfigurationResponse"> 
        <wsdl:part name="parameters" element="ns:validateConfigurationResponse" /> 
    </wsdl:message> 
    <wsdl:message name="getConfigurationListRequest"> 
        <wsdl:part name="parameters" element="ns:getConfigurationList" /> 
    </wsdl:message> 
    <wsdl:message name="getConfigurationListResponse"> 
        <wsdl:part name="parameters" element="ns:getConfigurationListResponse" /> 
    </wsdl:message> 
    <wsdl:message name="activateRequest"> 
        <wsdl:part name="parameters" element="ns:activate" /> 
    </wsdl:message> 
    <wsdl:message name="activateResponse"> 
        <wsdl:part name="parameters" element="ns:activateResponse" /> 
    </wsdl:message> 
    <wsdl:message name="updateConfigurationRequest"> 
        <wsdl:part name="parameters" element="ns:updateConfiguration" /> 
    </wsdl:message> 
    <wsdl:message name="updateConfigurationResponse"> 
        <wsdl:part name="parameters" element="ns:updateConfigurationResponse" /> 
    </wsdl:message> 
    <wsdl:message name="saveConfigurationToDiskRequest"> 
        <wsdl:part name="parameters" element="ns:saveConfigurationToDisk" /> 
    </wsdl:message> 
    <wsdl:message name="saveConfigurationToDiskResponse"> 
        <wsdl:part name="parameters" element="ns:saveConfigurationToDiskResponse" /> 
    </wsdl:message> 
    <wsdl:message name="addExistingConfigurationRequest"> 
        <wsdl:part name="parameters" element="ns:addExistingConfiguration" /> 
    </wsdl:message> 
    <wsdl:message name="addExistingConfigurationResponse"> 
        <wsdl:part name="parameters" element="ns:addExistingConfigurationResponse" /> 
    </wsdl:message> 
    <wsdl:message name="deleteConfigurationRequest"> 
        <wsdl:part name="parameters" element="ns:deleteConfiguration" /> 
    </wsdl:message> 
    <wsdl:message name="deleteConfigurationResponse"> 
        <wsdl:part name="parameters" element="ns:deleteConfigurationResponse" /> 
    </wsdl:message> 
    <wsdl:message name="getConfigurationRequest"> 
        <wsdl:part name="parameters" element="ns:getConfiguration" /> 
    </wsdl:message> 
    <wsdl:message name="getConfigurationResponse"> 
        <wsdl:part name="parameters" element="ns:getConfigurationResponse" /> 
    </wsdl:message> 
    <wsdl:portType name="ConfigServiceAdminPortType"> 
        <wsdl:operation name="create"> 
            <wsdl:input message="tns:createRequest" wsaw:Action="urn:create" /> 
            <wsdl:output message="tns:createResponse" wsaw:Action="urn:createResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="validateConfiguration"> 
            <wsdl:input message="tns:validateConfigurationRequest" wsaw:Action="urn:validateConfiguration" /> 
            <wsdl:output message="tns:validateConfigurationResponse" wsaw:Action="urn:validateConfigurationResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="getConfigurationList"> 
            <wsdl:input message="tns:getConfigurationListRequest" wsaw:Action="urn:getConfigurationList" /> 
            <wsdl:output message="tns:getConfigurationListResponse" wsaw:Action="urn:getConfigurationListResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="activate"> 
            <wsdl:input message="tns:activateRequest" wsaw:Action="urn:activate" /> 
            <wsdl:output message="tns:activateResponse" wsaw:Action="urn:activateResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="updateConfiguration"> 
            <wsdl:input message="tns:updateConfigurationRequest" wsaw:Action="urn:updateConfiguration" /> 
            <wsdl:output message="tns:updateConfigurationResponse" wsaw:Action="urn:updateConfigurationResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="saveConfigurationToDisk"> 
            <wsdl:input message="tns:saveConfigurationToDiskRequest" wsaw:Action="urn:saveConfigurationToDisk" /> 
            <wsdl:output message="tns:saveConfigurationToDiskResponse" wsaw:Action="urn:saveConfigurationToDiskResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="addExistingConfiguration"> 
            <wsdl:input message="tns:addExistingConfigurationRequest" wsaw:Action="urn:addExistingConfiguration" /> 
            <wsdl:output message="tns:addExistingConfigurationResponse" wsaw:Action="urn:addExistingConfigurationResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="deleteConfiguration"> 
            <wsdl:input message="tns:deleteConfigurationRequest" wsaw:Action="urn:deleteConfiguration" /> 
            <wsdl:output message="tns:deleteConfigurationResponse" wsaw:Action="urn:deleteConfigurationResponse" /> 
        </wsdl:operation> 
        <wsdl:operation name="getConfiguration"> 
            <wsdl:input message="tns:getConfigurationRequest" wsaw:Action="urn:getConfiguration" /> 
            <wsdl:output message="tns:getConfigurationResponse" wsaw:Action="urn:getConfigurationResponse" /> 
        </wsdl:operation> 
    </wsdl:portType> 
    <wsdl:binding name="ConfigServiceAdminSoap11Binding" type="tns:ConfigServiceAdminPortType"> 
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="create"> 
            <soap:operation soapAction="urn:create" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="validateConfiguration"> 
            <soap:operation soapAction="urn:validateConfiguration" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getConfigurationList"> 
            <soap:operation soapAction="urn:getConfigurationList" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="activate"> 
            <soap:operation soapAction="urn:activate" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="updateConfiguration"> 
            <soap:operation soapAction="urn:updateConfiguration" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="saveConfigurationToDisk"> 
            <soap:operation soapAction="urn:saveConfigurationToDisk" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="addExistingConfiguration"> 
            <soap:operation soapAction="urn:addExistingConfiguration" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="deleteConfiguration"> 
            <soap:operation soapAction="urn:deleteConfiguration" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getConfiguration"> 
            <soap:operation soapAction="urn:getConfiguration" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="ConfigServiceAdminSoap12Binding" type="tns:ConfigServiceAdminPortType"> 
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="create"> 
            <soap12:operation soapAction="urn:create" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="validateConfiguration"> 
            <soap12:operation soapAction="urn:validateConfiguration" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getConfigurationList"> 
            <soap12:operation soapAction="urn:getConfigurationList" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="activate"> 
            <soap12:operation soapAction="urn:activate" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="updateConfiguration"> 
            <soap12:operation soapAction="urn:updateConfiguration" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="saveConfigurationToDisk"> 
            <soap12:operation soapAction="urn:saveConfigurationToDisk" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="addExistingConfiguration"> 
            <soap12:operation soapAction="urn:addExistingConfiguration" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="deleteConfiguration"> 
            <soap12:operation soapAction="urn:deleteConfiguration" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getConfiguration"> 
            <soap12:operation soapAction="urn:getConfiguration" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="ConfigServiceAdminHttpBinding" type="tns:ConfigServiceAdminPortType"> 
        <http:binding verb="POST" /> 
        <wsdl:operation name="create"> 
            <http:operation location="create" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="validateConfiguration"> 
            <http:operation location="validateConfiguration" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getConfigurationList"> 
            <http:operation location="getConfigurationList" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="activate"> 
            <http:operation location="activate" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="updateConfiguration"> 
            <http:operation location="updateConfiguration" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="saveConfigurationToDisk"> 
            <http:operation location="saveConfigurationToDisk" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="addExistingConfiguration"> 
            <http:operation location="addExistingConfiguration" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="deleteConfiguration"> 
            <http:operation location="deleteConfiguration" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getConfiguration"> 
            <http:operation location="getConfiguration" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:service name="ConfigServiceAdmin"> 
        <wsdl:port name="ConfigServiceAdminHttpsSoap11Endpoint" binding="tns:ConfigServiceAdminSoap11Binding"> 
            <soap:address location="https://localhost:8243/services/ConfigServiceAdmin.ConfigServiceAdminHttpsSoap11Endpoint" /> 
        </wsdl:port> 
        <wsdl:port name="ConfigServiceAdminHttpsSoap12Endpoint" binding="tns:ConfigServiceAdminSoap12Binding"> 
            <soap12:address location="https://localhost:8243/services/ConfigServiceAdmin.ConfigServiceAdminHttpsSoap12Endpoint" /> 
        </wsdl:port> 
        <wsdl:port name="ConfigServiceAdminHttpsEndpoint" binding="tns:ConfigServiceAdminHttpBinding"> 
            <http:address location="https://localhost:8243/services/ConfigServiceAdmin.ConfigServiceAdminHttpsEndpoint" /> 
        </wsdl:port> 
    </wsdl:service> 
</wsdl:definitions>
