components/synapse-artifact-uploader/org.wso2.carbon.mediation.artifactuploader.ui/src/main/resources/wsdl/SynapseArtifactUploaderAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://artifactuploader.mediation.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://artifactuploader.mediation.carbon.wso2.org">
    <wsdl:documentation>SynapseArtifactUploaderAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:element name="uploadArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadArtifactRequest">
        <wsdl:part name="parameters" element="ns1:uploadArtifact" />
    </wsdl:message>
    <wsdl:message name="uploadArtifactResponse">
        <wsdl:part name="parameters" element="ns1:uploadArtifactResponse" />
    </wsdl:message>
    <wsdl:message name="getArtifactsRequest" />
    <wsdl:message name="getArtifactsResponse">
        <wsdl:part name="parameters" element="ns1:getArtifactsResponse" />
    </wsdl:message>
    <wsdl:message name="removeArtifactRequest">
        <wsdl:part name="parameters" element="ns1:removeArtifact" />
    </wsdl:message>
    <wsdl:message name="removeArtifactResponse">
        <wsdl:part name="parameters" element="ns1:removeArtifactResponse" />
    </wsdl:message>
    <wsdl:portType name="SynapseArtifactUploaderAdminPortType">
        <wsdl:operation name="uploadArtifact">
            <wsdl:input message="axis2:uploadArtifactRequest" wsaw:Action="urn:uploadArtifact" />
            <wsdl:output message="axis2:uploadArtifactResponse" wsaw:Action="urn:uploadArtifactResponse" />
        </wsdl:operation>
        <wsdl:operation name="getArtifacts">
            <wsdl:input message="axis2:getArtifactsRequest" wsaw:Action="urn:getArtifacts" />
            <wsdl:output message="axis2:getArtifactsResponse" wsaw:Action="urn:getArtifactsResponse" />
        </wsdl:operation>
        <wsdl:operation name="removeArtifact">
            <wsdl:input message="axis2:removeArtifactRequest" wsaw:Action="urn:removeArtifact" />
            <wsdl:output message="axis2:removeArtifactResponse" wsaw:Action="urn:removeArtifactResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SynapseArtifactUploaderAdminSoap11Binding" type="axis2:SynapseArtifactUploaderAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="uploadArtifact">
            <soap:operation soapAction="urn:uploadArtifact" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArtifacts">
            <soap:operation soapAction="urn:getArtifacts" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeArtifact">
            <soap:operation soapAction="urn:removeArtifact" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SynapseArtifactUploaderAdminSoap12Binding" type="axis2:SynapseArtifactUploaderAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="uploadArtifact">
            <soap12:operation soapAction="urn:uploadArtifact" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArtifacts">
            <soap12:operation soapAction="urn:getArtifacts" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeArtifact">
            <soap12:operation soapAction="urn:removeArtifact" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SynapseArtifactUploaderAdminHttpBinding" type="axis2:SynapseArtifactUploaderAdminPortType">
        <http1:binding verb="POST" />
        <wsdl:operation name="uploadArtifact">
            <http1:operation location="uploadArtifact" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArtifacts">
            <http1:operation location="getArtifacts" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeArtifact">
            <http1:operation location="removeArtifact" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SynapseArtifactUploaderAdmin">
        <wsdl:port name="SynapseArtifactUploaderAdminHttpsSoap11Endpoint" binding="axis2:SynapseArtifactUploaderAdminSoap11Binding">
            <soap:address location="https://localhost:8243/services/SynapseArtifactUploaderAdmin.SynapseArtifactUploaderAdminHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="SynapseArtifactUploaderAdminHttpsSoap12Endpoint" binding="axis2:SynapseArtifactUploaderAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/services/SynapseArtifactUploaderAdmin.SynapseArtifactUploaderAdminHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="SynapseArtifactUploaderAdminHttpsEndpoint" binding="axis2:SynapseArtifactUploaderAdminHttpBinding">
            <http1:address location="https://localhost:8243/services/SynapseArtifactUploaderAdmin.SynapseArtifactUploaderAdminHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>