service-stubs/mediation-admin/org.wso2.carbon.mediation.security.stub/src/main/resources/MediationSecurityAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://vault.security.mediation.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2252="http://external.vault.security.mediation.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://vault.security.mediation.carbon.wso2.org">
   <wsdl:documentation>MediationSecurityAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://external.vault.security.mediation.carbon.wso2.org/xsd">
         <xs:complexType name="ExternalVaultException">
            <xs:sequence/>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax2253="http://external.vault.security.mediation.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
         <xs:import namespace="http://external.vault.security.mediation.carbon.wso2.org/xsd"/>
         <xs:element name="doEncrypt">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="plainTextPass" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doEncryptResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doDecrypt">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="cipherText" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doDecryptResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="MediationSecurityAdminServiceExternalVaultException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ExternalVaultException" nillable="true" type="ax2252:ExternalVaultException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="setSecretIdForHashiCorpVault">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="secretId" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="doEncryptRequest">
      <wsdl:part name="parameters" element="ns:doEncrypt"/>
   </wsdl:message>
   <wsdl:message name="doEncryptResponse">
      <wsdl:part name="parameters" element="ns:doEncryptResponse"/>
   </wsdl:message>
   <wsdl:message name="setSecretIdForHashiCorpVaultRequest">
      <wsdl:part name="parameters" element="ns:setSecretIdForHashiCorpVault"/>
   </wsdl:message>
   <wsdl:message name="MediationSecurityAdminServiceExternalVaultException">
      <wsdl:part name="parameters" element="ns:MediationSecurityAdminServiceExternalVaultException"/>
   </wsdl:message>
   <wsdl:message name="doDecryptRequest">
      <wsdl:part name="parameters" element="ns:doDecrypt"/>
   </wsdl:message>
   <wsdl:message name="doDecryptResponse">
      <wsdl:part name="parameters" element="ns:doDecryptResponse"/>
   </wsdl:message>
   <wsdl:portType name="MediationSecurityAdminServicePortType">
      <wsdl:operation name="doEncrypt">
         <wsdl:input message="tns:doEncryptRequest" wsaw:Action="urn:doEncrypt"/>
         <wsdl:output message="tns:doEncryptResponse" wsaw:Action="urn:doEncryptResponse"/>
      </wsdl:operation>
      <wsdl:operation name="setSecretIdForHashiCorpVault">
         <wsdl:input message="tns:setSecretIdForHashiCorpVaultRequest" wsaw:Action="urn:setSecretIdForHashiCorpVault"/>
         <wsdl:fault message="tns:MediationSecurityAdminServiceExternalVaultException" name="MediationSecurityAdminServiceExternalVaultException" wsaw:Action="urn:setSecretIdForHashiCorpVaultMediationSecurityAdminServiceExternalVaultException"/>
      </wsdl:operation>
      <wsdl:operation name="doDecrypt">
         <wsdl:input message="tns:doDecryptRequest" wsaw:Action="urn:doDecrypt"/>
         <wsdl:output message="tns:doDecryptResponse" wsaw:Action="urn:doDecryptResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MediationSecurityAdminServiceSoap11Binding" type="tns:MediationSecurityAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="doEncrypt">
         <soap:operation soapAction="urn:doEncrypt" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setSecretIdForHashiCorpVault">
         <soap:operation soapAction="urn:setSecretIdForHashiCorpVault" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="MediationSecurityAdminServiceExternalVaultException">
            <soap:fault use="literal" name="MediationSecurityAdminServiceExternalVaultException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="doDecrypt">
         <soap:operation soapAction="urn:doDecrypt" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MediationSecurityAdminServiceSoap12Binding" type="tns:MediationSecurityAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="doEncrypt">
         <soap12:operation soapAction="urn:doEncrypt" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setSecretIdForHashiCorpVault">
         <soap12:operation soapAction="urn:setSecretIdForHashiCorpVault" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="MediationSecurityAdminServiceExternalVaultException">
            <soap12:fault use="literal" name="MediationSecurityAdminServiceExternalVaultException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="doDecrypt">
         <soap12:operation soapAction="urn:doDecrypt" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MediationSecurityAdminServiceHttpBinding" type="tns:MediationSecurityAdminServicePortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="doEncrypt">
         <http:operation location="doEncrypt"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="setSecretIdForHashiCorpVault">
         <http:operation location="setSecretIdForHashiCorpVault"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="doDecrypt">
         <http:operation location="doDecrypt"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MediationSecurityAdminService">
      <wsdl:port name="MediationSecurityAdminServiceHttpsSoap11Endpoint" binding="tns:MediationSecurityAdminServiceSoap11Binding">
         <soap:address location="https://localhost:8243/services/MediationSecurityAdminService.MediationSecurityAdminServiceHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="MediationSecurityAdminServiceHttpsSoap12Endpoint" binding="tns:MediationSecurityAdminServiceSoap12Binding">
         <soap12:address location="https://localhost:8243/services/MediationSecurityAdminService.MediationSecurityAdminServiceHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="MediationSecurityAdminServiceHttpsEndpoint" binding="tns:MediationSecurityAdminServiceHttpBinding">
         <http:address location="https://localhost:8243/services/MediationSecurityAdminService.MediationSecurityAdminServiceHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
