service-stubs/org.wso2.carbon.mediation.security.stub/src/main/resources/MediationSecurityAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://vault.security.mediation.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://vault.security.mediation.carbon.wso2.org">
   <wsdl:documentation>MediationSecurityAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
         <xs:element name="doEncrypt">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="plainTextPass" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doEncryptResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doDecrypt">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="cipherText" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="doDecryptResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="doDecryptRequest">
      <wsdl:part name="parameters" element="ns:doDecrypt"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="doDecryptResponse">
      <wsdl:part name="parameters" element="ns:doDecryptResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="doEncryptRequest">
      <wsdl:part name="parameters" element="ns:doEncrypt"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="doEncryptResponse">
      <wsdl:part name="parameters" element="ns:doEncryptResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:portType name="MediationSecurityAdminServicePortType">
      <wsdl:operation name="doDecrypt">
         <wsdl:input message="tns:doDecryptRequest" wsaw:Action="urn:doDecrypt"></wsdl:input>
         <wsdl:output message="tns:doDecryptResponse" wsaw:Action="urn:doDecryptResponse"></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doEncrypt">
         <wsdl:input message="tns:doEncryptRequest" wsaw:Action="urn:doEncrypt"></wsdl:input>
         <wsdl:output message="tns:doEncryptResponse" wsaw:Action="urn:doEncryptResponse"></wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MediationSecurityAdminServiceSoap11Binding" type="tns:MediationSecurityAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
      <wsdl:operation name="doDecrypt">
         <soap:operation soapAction="urn:doDecrypt" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doEncrypt">
         <soap:operation soapAction="urn:doEncrypt" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MediationSecurityAdminServiceSoap12Binding" type="tns:MediationSecurityAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
      <wsdl:operation name="doDecrypt">
         <soap12:operation soapAction="urn:doDecrypt" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doEncrypt">
         <soap12:operation soapAction="urn:doEncrypt" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MediationSecurityAdminServiceHttpBinding" type="tns:MediationSecurityAdminServicePortType">
      <http:binding verb="POST"></http:binding>
      <wsdl:operation name="doDecrypt">
         <http:operation location="doDecrypt"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doEncrypt">
         <http:operation location="doEncrypt"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MediationSecurityAdminService">
      <wsdl:port name="MediationSecurityAdminServiceHttpsSoap11Endpoint" binding="tns:MediationSecurityAdminServiceSoap11Binding">
         <soap:address location="https://dushan-ThinkPad-T520:8243/services/MediationSecurityAdminService.MediationSecurityAdminServiceHttpsSoap11Endpoint"></soap:address>
      </wsdl:port>
      <wsdl:port name="MediationSecurityAdminServiceHttpsSoap12Endpoint" binding="tns:MediationSecurityAdminServiceSoap12Binding">
         <soap12:address location="https://dushan-ThinkPad-T520:8243/services/MediationSecurityAdminService.MediationSecurityAdminServiceHttpsSoap12Endpoint"></soap12:address>
      </wsdl:port>
      <wsdl:port name="MediationSecurityAdminServiceHttpsEndpoint" binding="tns:MediationSecurityAdminServiceHttpBinding">
         <http:address location="https://dushan-ThinkPad-T520:8243/services/MediationSecurityAdminService.MediationSecurityAdminServiceHttpsEndpoint"></http:address>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>