service-stubs/mediation-monitor/org.wso2.carbon.message.flow.tracer.stub/src/main/resources/MessageFlowTracerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://tracer.flow.message.carbon.wso2.org" xmlns:ax2321="http://data.flowtracer.synapse.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2325="http://context.axis2.apache.org/xsd" xmlns:ax2323="http://data.tracer.flow.message.carbon.wso2.org/xsd" xmlns:ax2326="http://engine.axis2.apache.org/xsd" xmlns:ax2327="http://clustering.axis2.apache.org/xsd" xmlns:ax2344="http://net.java/xsd" xmlns:ax2346="http://java2wsdl.description.axis2.apache.org/xsd" xmlns:ax2340="http://description.axis2.apache.org/xsd" xmlns:ax2360="http://threadpool.util.axis2.apache.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2315="http://tracer.flow.message.carbon.wso2.org/xsd" xmlns:ax2316="http://flowtracer.synapse.apache.org/xsd" xmlns:ax2317="http://util.java/xsd" xmlns:ax2339="http://util.deployment.axis2.apache.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2356="http://transaction.axis2.apache.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2333="http://state.clustering.axis2.apache.org/xsd" xmlns:ax2330="http://management.clustering.axis2.apache.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2354="http://util.axis2.apache.org/xsd" xmlns:ax2352="http://securevault.wso2.org/xsd" targetNamespace="http://tracer.flow.message.carbon.wso2.org">
    <wsdl:documentation>MessageFlowTracerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transaction.axis2.apache.org/xsd">
            <xs:complexType name="TransactionConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="transactionManager" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="transactionTimeout" type="xs:int"/>
                    <xs:element minOccurs="0" name="userTransaction" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.tracer.flow.message.carbon.wso2.org/xsd">
            <xs:complexType name="Edge">
                <xs:sequence>
                    <xs:element minOccurs="0" name="node1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="node2" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://threadpool.util.axis2.apache.org/xsd">
            <xs:complexType abstract="true" name="ThreadFactory">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.axis2.apache.org/xsd">
            <xs:complexType abstract="true" name="TargetResolver">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.flowtracer.synapse.apache.org/xsd">
            <xs:complexType name="MessageFlowTraceEntry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="entryType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageFlow" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MessageFlowComponentEntry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="componentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="payload" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="propertySet" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="response" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="start" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2324="http://data.tracer.flow.message.carbon.wso2.org/xsd" xmlns:ax2322="http://data.flowtracer.synapse.apache.org/xsd" xmlns:ax2320="http://tracer.flow.message.carbon.wso2.org/xsd" xmlns:ax2362="http://context.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tracer.flow.message.carbon.wso2.org">
            <xs:import namespace="http://tracer.flow.message.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://data.flowtracer.synapse.apache.org/xsd"/>
            <xs:import namespace="http://data.tracer.flow.message.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:element name="getTraceDataStore">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTraceDataStoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2320:MediationTraceDataStore"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageFlows">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageFlowsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2321:MessageFlowTraceEntry"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getComponentInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="componentId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getComponentInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2321:MessageFlowComponentEntry"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageFlowInLevels">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageFlowInLevelsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEdges">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEdgesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2324:Edge"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllComponents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllComponentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="clearAll">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfigurationContext">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfigurationContextResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2325:ConfigurationContext"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantId">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType abstract="true" name="Map">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Set">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Iterator">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2331="http://context.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://management.clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:complexType abstract="true" name="NodeManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax2325:ConfigurationContext"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2341="http://engine.axis2.apache.org/xsd" xmlns:ax2348="http://java2wsdl.description.axis2.apache.org/xsd" xmlns:ax2343="http://util.deployment.axis2.apache.org/xsd" xmlns:ax2342="http://util.java/xsd" xmlns:ax2345="http://net.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://description.axis2.apache.org/xsd">
            <xs:import namespace="http://engine.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:import namespace="http://util.deployment.axis2.apache.org/xsd"/>
            <xs:import namespace="http://net.java/xsd"/>
            <xs:import namespace="http://java2wsdl.description.axis2.apache.org/xsd"/>
            <xs:complexType abstract="true" name="AxisOperation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="WSAMappingList" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="axisService" nillable="true" type="ax2340:AxisService"/>
                    <xs:element minOccurs="0" name="axisSpecificMEPConstant" type="xs:int"/>
                    <xs:element minOccurs="0" name="controlOperation" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="faultAction" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultActionNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultMessages" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inputAction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="messageExchangePattern" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageReceiver" nillable="true" type="ax2326:MessageReceiver"/>
                    <xs:element minOccurs="0" name="messages" nillable="true" type="ax2342:Iterator"/>
                    <xs:element minOccurs="0" name="moduleRefs" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="outputAction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phasesInFaultFlow" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="phasesOutFaultFlow" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="phasesOutFlow" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="remainingPhasesInFlow" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="soapAction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="style" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsamappingList" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AxisService">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="EPRs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="WSAddressingFlag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="axisServiceGroup" nillable="true" type="ax2340:AxisServiceGroup"/>
                    <xs:element minOccurs="0" name="bindingName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="classLoader" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="clientSide" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="controlOperations" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="customSchemaNamePrefix" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customSchemaNameSuffix" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customWsdl" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="elementFormDefault" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableAllTransports" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="endpointName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endpointURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endpoints" nillable="true" type="ax2342:Map"/>
                    <xs:element minOccurs="0" name="excludeInfo" nillable="true" type="ax2343:ExcludeInfo"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="exposedTransports" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="ax2345:URL"/>
                    <xs:element minOccurs="0" name="importedNamespaces" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="lastUpdate" type="xs:long"/>
                    <xs:element minOccurs="0" name="lastupdate" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="messageElementQNameToOperationMap" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="modifyUserWSDLPortAddress" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="modules" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameSpacesMap" nillable="true" type="ax2342:Map"/>
                    <xs:element minOccurs="0" name="namespaceMap" nillable="true" type="ax2342:Map"/>
                    <xs:element minOccurs="0" name="objectSupplier" nillable="true" type="ax2326:ObjectSupplier"/>
                    <xs:element minOccurs="0" name="operations" nillable="true" type="ax2342:Iterator"/>
                    <xs:element minOccurs="0" name="operationsNameList" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="p2nMap" nillable="true" type="ax2342:Map"/>
                    <xs:element minOccurs="0" name="parent" nillable="true" type="ax2340:AxisServiceGroup"/>
                    <xs:element minOccurs="0" name="portTypeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="publishedOperations" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="schemaLocationsAdjusted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="schemaMappingTable" nillable="true" type="ax2342:Map"/>
                    <xs:element minOccurs="0" name="schemaTargetNamespace" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schemaTargetNamespacePrefix" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schematargetNamespace" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="schematargetNamespacePrefix" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="scope" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceLifeCycle" nillable="true" type="ax2326:ServiceLifeCycle"/>
                    <xs:element minOccurs="0" name="setEndpointsToAllUsedBindings" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="soapNsUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="targetNamespace" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="targetNamespacePrefix" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="typeTable" nillable="true" type="ax2348:TypeTable"/>
                    <xs:element minOccurs="0" name="useDefaultChains" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="useUserWSDL" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="wsdlFound" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AxisServiceGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="axisDescription" nillable="true" type="ax2326:AxisConfiguration"/>
                    <xs:element minOccurs="0" name="foundWebResources" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="moduleRefs" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="serviceGroupClassLoader" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="services" nillable="true" type="ax2342:Iterator"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2358="http://engine.axis2.apache.org/xsd" xmlns:ax2361="http://threadpool.util.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://context.axis2.apache.org/xsd">
            <xs:import namespace="http://engine.axis2.apache.org/xsd"/>
            <xs:import namespace="http://threadpool.util.axis2.apache.org/xsd"/>
            <xs:complexType name="ConfigurationContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="anyOperationContextRegistered" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="axisConfiguration" nillable="true" type="ax2326:AxisConfiguration"/>
                    <xs:element minOccurs="0" name="contextRoot" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="listenerManager" nillable="true" type="ax2326:ListenerManager"/>
                    <xs:element minOccurs="0" name="rootContext" nillable="true" type="ax2325:ConfigurationContext"/>
                    <xs:element minOccurs="0" name="serviceContextPath" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceGroupContextIDs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceGroupContextTimeoutInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="serviceGroupContextTimoutInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="serviceGroupContexts" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="servicePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="threadPool" nillable="true" type="ax2361:ThreadFactory"/>
                    <xs:element minOccurs="0" name="transportManager" nillable="true" type="ax2326:ListenerManager"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2349="http://description.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.deployment.axis2.apache.org/xsd">
            <xs:import namespace="http://description.axis2.apache.org/xsd"/>
            <xs:complexType name="PhasesInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="INPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="IN_FaultPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="OUTPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="OUT_FaultPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="globalInFaultPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="globalInflow" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="globalOutPhaseList" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationInFaultPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationInPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationOutFaultPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationOutPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationPhases" nillable="true" type="ax2349:AxisOperation"/>
                    <xs:element minOccurs="0" name="outFaultPhaseList" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ExcludeInfo">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://net.java/xsd">
            <xs:complexType name="URL">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="content" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="defaultPort" type="xs:int"/>
                    <xs:element minOccurs="0" name="file" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="host" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="port" type="xs:int"/>
                    <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ref" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userInfo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2318="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://flowtracer.synapse.apache.org/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType name="MessageFlowDataHolder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="messageFlowTraceEnable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="messageFlows" nillable="true" type="ax2317:Map"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2319="http://flowtracer.synapse.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tracer.flow.message.carbon.wso2.org/xsd">
            <xs:import namespace="http://flowtracer.synapse.apache.org/xsd"/>
            <xs:complexType name="MediationTraceDataStore">
                <xs:sequence>
                    <xs:element minOccurs="0" name="messageFlowDataHolder" nillable="true" type="ax2316:MessageFlowDataHolder"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://securevault.wso2.org/xsd">
            <xs:complexType name="SecretResolver">
                <xs:sequence>
                    <xs:element minOccurs="0" name="initialized" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2357="http://transaction.axis2.apache.org/xsd" xmlns:ax2338="http://util.java/xsd" xmlns:ax2355="http://util.axis2.apache.org/xsd" xmlns:ax2337="http://clustering.axis2.apache.org/xsd" xmlns:ax2359="http://context.axis2.apache.org/xsd" xmlns:ax2350="http://util.deployment.axis2.apache.org/xsd" xmlns:ax2353="http://securevault.wso2.org/xsd" xmlns:ax2351="http://net.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://engine.axis2.apache.org/xsd">
            <xs:import namespace="http://clustering.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:import namespace="http://util.deployment.axis2.apache.org/xsd"/>
            <xs:import namespace="http://net.java/xsd"/>
            <xs:import namespace="http://securevault.wso2.org/xsd"/>
            <xs:import namespace="http://util.axis2.apache.org/xsd"/>
            <xs:import namespace="http://transaction.axis2.apache.org/xsd"/>
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:complexType name="AxisConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="childFirstClassLoading" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="clusteringAgent" nillable="true" type="ax2327:ClusteringAgent"/>
                    <xs:element minOccurs="0" name="configurator" nillable="true" type="ax2326:AxisConfigurator"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultyModules" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultyServices" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultyServicesDuetoModules" nillable="true" type="ax2317:Map"/>
                    <xs:element minOccurs="0" name="globalModules" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="globalOutPhase" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inFaultFlowPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inFaultPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inFlowPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inPhasesUptoAndIncludingPostDispatch" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="localPolicyAssertions" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="moduleClassLoader" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="modules" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="observersList" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="outFaultFlowPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="outFaultPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="outFlowPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="phasesInfo" nillable="true" type="ax2339:PhasesInfo"/>
                    <xs:element minOccurs="0" name="repository" nillable="true" type="ax2344:URL"/>
                    <xs:element minOccurs="0" name="secretResolver" nillable="true" type="ax2353:SecretResolver"/>
                    <xs:element minOccurs="0" name="serviceClassLoader" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="serviceGroups" nillable="true" type="ax2317:Iterator"/>
                    <xs:element minOccurs="0" name="services" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="start" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="systemClassLoader" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="targetResolverChain" nillable="true" type="ax2355:TargetResolver"/>
                    <xs:element minOccurs="0" name="transactionConfig" nillable="true" type="ax2357:TransactionConfiguration"/>
                    <xs:element minOccurs="0" name="transactionConfiguration" nillable="true" type="ax2357:TransactionConfiguration"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transportsIn" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transportsOut" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="AxisConfigurator">
                <xs:sequence>
                    <xs:element minOccurs="0" name="axisConfiguration" nillable="true" type="ax2326:AxisConfiguration"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="ObjectSupplier">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType abstract="true" name="ServiceLifeCycle">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType abstract="true" name="MessageReceiver">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ListenerManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configctx" nillable="true" type="ax2325:ConfigurationContext"/>
                    <xs:element minOccurs="0" name="shutdownHookRequired" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="stopped" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2335="http://util.java/xsd" xmlns:ax2334="http://context.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://state.clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType abstract="true" name="StateManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax2325:ConfigurationContext"/>
                    <xs:element minOccurs="0" name="replicationExcludePatterns" nillable="true" type="ax2317:Map"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2332="http://management.clustering.axis2.apache.org/xsd" xmlns:ax2336="http://state.clustering.axis2.apache.org/xsd" xmlns:ax2328="http://context.axis2.apache.org/xsd" xmlns:ax2329="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:import namespace="http://management.clustering.axis2.apache.org/xsd"/>
            <xs:import namespace="http://state.clustering.axis2.apache.org/xsd"/>
            <xs:complexType abstract="true" name="ClusteringAgent">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aliveMemberCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax2325:ConfigurationContext"/>
                    <xs:element minOccurs="0" name="coordinator" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="domains" nillable="true" type="ax2329:Set"/>
                    <xs:element minOccurs="0" name="members" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="nodeManager" nillable="true" type="ax2332:NodeManager"/>
                    <xs:element minOccurs="0" name="stateManager" nillable="true" type="ax2336:StateManager"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2347="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://java2wsdl.description.axis2.apache.org/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType name="TypeTable">
                <xs:sequence>
                    <xs:element minOccurs="0" name="complexSchemaMap" nillable="true" type="ax2317:Map"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTraceDataStoreRequest">
        <wsdl:part name="parameters" element="ns:getTraceDataStore"/>
    </wsdl:message>
    <wsdl:message name="getTraceDataStoreResponse">
        <wsdl:part name="parameters" element="ns:getTraceDataStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="clearAllRequest">
        <wsdl:part name="parameters" element="ns:clearAll"/>
    </wsdl:message>
    <wsdl:message name="getTenantIdRequest">
        <wsdl:part name="parameters" element="ns:getTenantId"/>
    </wsdl:message>
    <wsdl:message name="getTenantIdResponse">
        <wsdl:part name="parameters" element="ns:getTenantIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessageFlowInLevelsRequest">
        <wsdl:part name="parameters" element="ns:getMessageFlowInLevels"/>
    </wsdl:message>
    <wsdl:message name="getMessageFlowInLevelsResponse">
        <wsdl:part name="parameters" element="ns:getMessageFlowInLevelsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllComponentsRequest">
        <wsdl:part name="parameters" element="ns:getAllComponents"/>
    </wsdl:message>
    <wsdl:message name="getAllComponentsResponse">
        <wsdl:part name="parameters" element="ns:getAllComponentsResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessageFlowsRequest">
        <wsdl:part name="parameters" element="ns:getMessageFlows"/>
    </wsdl:message>
    <wsdl:message name="getMessageFlowsResponse">
        <wsdl:part name="parameters" element="ns:getMessageFlowsResponse"/>
    </wsdl:message>
    <wsdl:message name="getComponentInfoRequest">
        <wsdl:part name="parameters" element="ns:getComponentInfo"/>
    </wsdl:message>
    <wsdl:message name="getComponentInfoResponse">
        <wsdl:part name="parameters" element="ns:getComponentInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllEdgesRequest">
        <wsdl:part name="parameters" element="ns:getAllEdges"/>
    </wsdl:message>
    <wsdl:message name="getAllEdgesResponse">
        <wsdl:part name="parameters" element="ns:getAllEdgesResponse"/>
    </wsdl:message>
    <wsdl:message name="getConfigurationContextRequest">
        <wsdl:part name="parameters" element="ns:getConfigurationContext"/>
    </wsdl:message>
    <wsdl:message name="getConfigurationContextResponse">
        <wsdl:part name="parameters" element="ns:getConfigurationContextResponse"/>
    </wsdl:message>
    <wsdl:portType name="MessageFlowTracerServicePortType">
        <wsdl:operation name="getTraceDataStore">
            <wsdl:input message="ns:getTraceDataStoreRequest" wsaw:Action="urn:getTraceDataStore"/>
            <wsdl:output message="ns:getTraceDataStoreResponse" wsaw:Action="urn:getTraceDataStoreResponse"/>
        </wsdl:operation>
        <wsdl:operation name="clearAll">
            <wsdl:input message="ns:clearAllRequest" wsaw:Action="urn:clearAll"/>
        </wsdl:operation>
        <wsdl:operation name="getTenantId">
            <wsdl:input message="ns:getTenantIdRequest" wsaw:Action="urn:getTenantId"/>
            <wsdl:output message="ns:getTenantIdResponse" wsaw:Action="urn:getTenantIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageFlowInLevels">
            <wsdl:input message="ns:getMessageFlowInLevelsRequest" wsaw:Action="urn:getMessageFlowInLevels"/>
            <wsdl:output message="ns:getMessageFlowInLevelsResponse" wsaw:Action="urn:getMessageFlowInLevelsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllComponents">
            <wsdl:input message="ns:getAllComponentsRequest" wsaw:Action="urn:getAllComponents"/>
            <wsdl:output message="ns:getAllComponentsResponse" wsaw:Action="urn:getAllComponentsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageFlows">
            <wsdl:input message="ns:getMessageFlowsRequest" wsaw:Action="urn:getMessageFlows"/>
            <wsdl:output message="ns:getMessageFlowsResponse" wsaw:Action="urn:getMessageFlowsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getComponentInfo">
            <wsdl:input message="ns:getComponentInfoRequest" wsaw:Action="urn:getComponentInfo"/>
            <wsdl:output message="ns:getComponentInfoResponse" wsaw:Action="urn:getComponentInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEdges">
            <wsdl:input message="ns:getAllEdgesRequest" wsaw:Action="urn:getAllEdges"/>
            <wsdl:output message="ns:getAllEdgesResponse" wsaw:Action="urn:getAllEdgesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getConfigurationContext">
            <wsdl:input message="ns:getConfigurationContextRequest" wsaw:Action="urn:getConfigurationContext"/>
            <wsdl:output message="ns:getConfigurationContextResponse" wsaw:Action="urn:getConfigurationContextResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageFlowTracerServiceSoap11Binding" type="ns:MessageFlowTracerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTraceDataStore">
            <soap:operation soapAction="urn:getTraceDataStore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearAll">
            <soap:operation soapAction="urn:clearAll" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTenantId">
            <soap:operation soapAction="urn:getTenantId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageFlowInLevels">
            <soap:operation soapAction="urn:getMessageFlowInLevels" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllComponents">
            <soap:operation soapAction="urn:getAllComponents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageFlows">
            <soap:operation soapAction="urn:getMessageFlows" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComponentInfo">
            <soap:operation soapAction="urn:getComponentInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEdges">
            <soap:operation soapAction="urn:getAllEdges" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfigurationContext">
            <soap:operation soapAction="urn:getConfigurationContext" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageFlowTracerServiceSoap12Binding" type="ns:MessageFlowTracerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTraceDataStore">
            <soap12:operation soapAction="urn:getTraceDataStore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearAll">
            <soap12:operation soapAction="urn:clearAll" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTenantId">
            <soap12:operation soapAction="urn:getTenantId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageFlowInLevels">
            <soap12:operation soapAction="urn:getMessageFlowInLevels" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllComponents">
            <soap12:operation soapAction="urn:getAllComponents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageFlows">
            <soap12:operation soapAction="urn:getMessageFlows" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComponentInfo">
            <soap12:operation soapAction="urn:getComponentInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEdges">
            <soap12:operation soapAction="urn:getAllEdges" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfigurationContext">
            <soap12:operation soapAction="urn:getConfigurationContext" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageFlowTracerServiceHttpBinding" type="ns:MessageFlowTracerServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getTraceDataStore">
            <http:operation location="getTraceDataStore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearAll">
            <http:operation location="clearAll"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTenantId">
            <http:operation location="getTenantId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageFlowInLevels">
            <http:operation location="getMessageFlowInLevels"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllComponents">
            <http:operation location="getAllComponents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageFlows">
            <http:operation location="getMessageFlows"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComponentInfo">
            <http:operation location="getComponentInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEdges">
            <http:operation location="getAllEdges"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfigurationContext">
            <http:operation location="getConfigurationContext"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageFlowTracerService">
        <wsdl:port name="MessageFlowTracerServiceHttpsSoap11Endpoint" binding="ns:MessageFlowTracerServiceSoap11Binding">
            <soap:address location="https://jagatha-ThinkPad-T530:8243/services/MessageFlowTracerService.MessageFlowTracerServiceHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MessageFlowTracerServiceHttpsSoap12Endpoint" binding="ns:MessageFlowTracerServiceSoap12Binding">
            <soap12:address location="https://jagatha-ThinkPad-T530:8243/services/MessageFlowTracerService.MessageFlowTracerServiceHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MessageFlowTracerServiceHttpsEndpoint" binding="ns:MessageFlowTracerServiceHttpBinding">
            <http:address location="https://jagatha-ThinkPad-T530:8243/services/MessageFlowTracerService.MessageFlowTracerServiceHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>