service-stubs/org.wso2.carbon.mediation.library.stub/src/main/resources/MediationLibraryUploader.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://upload.service.library.mediation.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2312="http://upload.service.library.mediation.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://upload.service.library.mediation.carbon.wso2.org">
    <wsdl:documentation>MediationLibraryUploader</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2313="http://upload.service.library.mediation.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://upload.service.library.mediation.carbon.wso2.org">
            <xs:import namespace="http://upload.service.library.mediation.carbon.wso2.org/xsd"/>
            <xs:element name="uploadLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileItems" nillable="true" type="ax2312:LibraryFileItem"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://upload.service.library.mediation.carbon.wso2.org/xsd">
            <xs:complexType name="LibraryFileItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadLibraryRequest">
        <wsdl:part name="parameters" element="ns:uploadLibrary"/>
    </wsdl:message>
    <wsdl:message name="uploadLibraryResponse"/>
    <wsdl:portType name="MediationLibraryUploaderPortType">
        <wsdl:operation name="uploadLibrary">
            <wsdl:input message="ns:uploadLibraryRequest" wsaw:Action="urn:uploadLibrary"/>
            <wsdl:output message="ns:uploadLibraryResponse" wsaw:Action="urn:uploadLibraryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MediationLibraryUploaderSoap11Binding" type="ns:MediationLibraryUploaderPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadLibrary">
            <soap:operation soapAction="urn:uploadLibrary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MediationLibraryUploaderSoap12Binding" type="ns:MediationLibraryUploaderPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadLibrary">
            <soap12:operation soapAction="urn:uploadLibrary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MediationLibraryUploaderHttpBinding" type="ns:MediationLibraryUploaderPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="uploadLibrary">
            <http:operation location="uploadLibrary"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MediationLibraryUploader">
        <wsdl:port name="MediationLibraryUploaderHttpsSoap11Endpoint" binding="ns:MediationLibraryUploaderSoap11Binding">
            <soap:address location="https://usw-laptop:8243/services/MediationLibraryUploader.MediationLibraryUploaderHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MediationLibraryUploaderHttpsSoap12Endpoint" binding="ns:MediationLibraryUploaderSoap12Binding">
            <soap12:address location="https://usw-laptop:8243/services/MediationLibraryUploader.MediationLibraryUploaderHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MediationLibraryUploaderHttpsEndpoint" binding="ns:MediationLibraryUploaderHttpBinding">
            <http:address location="https://usw-laptop:8243/services/MediationLibraryUploader.MediationLibraryUploaderHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>