service-stubs/mediation-admin/org.wso2.carbon.rest.api.stub/src/main/resources/RestApiAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.api.rest.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2531="http://api.rest.carbon.wso2.org/xsd" targetNamespace="http://service.api.rest.carbon.wso2.org">
    <wsdl:documentation>RestApiAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2532="http://api.rest.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://api.rest.carbon.wso2.org/xsd"/>
            <xs:element name="getSequences">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSequencesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RestApiAdminAPIException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="APIException" nillable="true" type="ax2532:APIException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApi">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="apiData" nillable="true" type="ax2532:APIData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerContext">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerContextResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApiFromString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiData" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApiFromStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApiForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApiForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApiFromString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="apiData" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApiFromStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApiForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="apiData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateApiForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApi">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteSelectedApi">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="apiNames" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllApi">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApiForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApiForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAPIsForListing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="itemsPerPage" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAPIsForListingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2532:APIData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAPICount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAPICountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApiNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApiNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApiByName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApiByNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2532:APIData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApiForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApiForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2532:APIData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApiSource">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiData" nillable="true" type="ax2532:APIData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApiSourceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResourceSource">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resourceData" nillable="true" type="ax2532:ResourceData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResourceSourceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApi">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="apiData" nillable="true" type="ax2532:APIData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApiResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.rest.carbon.wso2.org/xsd">
            <xs:complexType name="APIException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="APIData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deployedFromCApp" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="edited" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="host" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="port" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="resources" nillable="true" type="ax2531:ResourceData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResourceData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultSeqXml" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultSequenceKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inSeqXml" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inSequenceKey" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="methods" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outSeqXml" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outSequenceKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="protocol" type="xs:int"/>
                    <xs:element minOccurs="0" name="uriTemplate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="urlMapping" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getApiByNameRequest">
        <wsdl:part name="parameters" element="ns1:getApiByName"/>
    </wsdl:message>
    <wsdl:message name="getApiByNameResponse">
        <wsdl:part name="parameters" element="ns1:getApiByNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getApiForTenantRequest">
        <wsdl:part name="parameters" element="ns1:getApiForTenant"/>
    </wsdl:message>
    <wsdl:message name="getApiForTenantResponse">
        <wsdl:part name="parameters" element="ns1:getApiForTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="RestApiAdminAPIException">
        <wsdl:part name="parameters" element="ns1:RestApiAdminAPIException"/>
    </wsdl:message>
    <wsdl:message name="getServerContextRequest">
        <wsdl:part name="parameters" element="ns1:getServerContext"/>
    </wsdl:message>
    <wsdl:message name="getServerContextResponse">
        <wsdl:part name="parameters" element="ns1:getServerContextResponse"/>
    </wsdl:message>
    <wsdl:message name="getResourceSourceRequest">
        <wsdl:part name="parameters" element="ns1:getResourceSource"/>
    </wsdl:message>
    <wsdl:message name="getResourceSourceResponse">
        <wsdl:part name="parameters" element="ns1:getResourceSourceResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteSelectedApiRequest">
        <wsdl:part name="parameters" element="ns1:deleteSelectedApi"/>
    </wsdl:message>
    <wsdl:message name="addApiRequest">
        <wsdl:part name="parameters" element="ns1:addApi"/>
    </wsdl:message>
    <wsdl:message name="addApiResponse">
        <wsdl:part name="parameters" element="ns1:addApiResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteApiRequest">
        <wsdl:part name="parameters" element="ns1:deleteApi"/>
    </wsdl:message>
    <wsdl:message name="deleteApiResponse">
        <wsdl:part name="parameters" element="ns1:deleteApiResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteAllApiRequest">
        <wsdl:part name="parameters" element="ns1:deleteAllApi"/>
    </wsdl:message>
    <wsdl:message name="getAPICountRequest">
        <wsdl:part name="parameters" element="ns1:getAPICount"/>
    </wsdl:message>
    <wsdl:message name="getAPICountResponse">
        <wsdl:part name="parameters" element="ns1:getAPICountResponse"/>
    </wsdl:message>
    <wsdl:message name="getApiSourceRequest">
        <wsdl:part name="parameters" element="ns1:getApiSource"/>
    </wsdl:message>
    <wsdl:message name="getApiSourceResponse">
        <wsdl:part name="parameters" element="ns1:getApiSourceResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteApiForTenantRequest">
        <wsdl:part name="parameters" element="ns1:deleteApiForTenant"/>
    </wsdl:message>
    <wsdl:message name="deleteApiForTenantResponse">
        <wsdl:part name="parameters" element="ns1:deleteApiForTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="getAPIsForListingRequest">
        <wsdl:part name="parameters" element="ns1:getAPIsForListing"/>
    </wsdl:message>
    <wsdl:message name="getAPIsForListingResponse">
        <wsdl:part name="parameters" element="ns1:getAPIsForListingResponse"/>
    </wsdl:message>
    <wsdl:message name="updateApiRequest">
        <wsdl:part name="parameters" element="ns1:updateApi"/>
    </wsdl:message>
    <wsdl:message name="updateApiResponse">
        <wsdl:part name="parameters" element="ns1:updateApiResponse"/>
    </wsdl:message>
    <wsdl:message name="updateApiForTenantRequest">
        <wsdl:part name="parameters" element="ns1:updateApiForTenant"/>
    </wsdl:message>
    <wsdl:message name="updateApiForTenantResponse">
        <wsdl:part name="parameters" element="ns1:updateApiForTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="addApiForTenantRequest">
        <wsdl:part name="parameters" element="ns1:addApiForTenant"/>
    </wsdl:message>
    <wsdl:message name="addApiForTenantResponse">
        <wsdl:part name="parameters" element="ns1:addApiForTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="updateApiFromStringRequest">
        <wsdl:part name="parameters" element="ns1:updateApiFromString"/>
    </wsdl:message>
    <wsdl:message name="updateApiFromStringResponse">
        <wsdl:part name="parameters" element="ns1:updateApiFromStringResponse"/>
    </wsdl:message>
    <wsdl:message name="addApiFromStringRequest">
        <wsdl:part name="parameters" element="ns1:addApiFromString"/>
    </wsdl:message>
    <wsdl:message name="addApiFromStringResponse">
        <wsdl:part name="parameters" element="ns1:addApiFromStringResponse"/>
    </wsdl:message>
    <wsdl:message name="getSequencesRequest">
        <wsdl:part name="parameters" element="ns1:getSequences"/>
    </wsdl:message>
    <wsdl:message name="getSequencesResponse">
        <wsdl:part name="parameters" element="ns1:getSequencesResponse"/>
    </wsdl:message>
    <wsdl:message name="getApiNamesRequest">
        <wsdl:part name="parameters" element="ns1:getApiNames"/>
    </wsdl:message>
    <wsdl:message name="getApiNamesResponse">
        <wsdl:part name="parameters" element="ns1:getApiNamesResponse"/>
    </wsdl:message>
    <wsdl:portType name="RestApiAdminPortType">
        <wsdl:operation name="getApiByName">
            <wsdl:input message="tns:getApiByNameRequest" wsaw:Action="urn:getApiByName"/>
            <wsdl:output message="tns:getApiByNameResponse" wsaw:Action="urn:getApiByNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApiForTenant">
            <wsdl:input message="tns:getApiForTenantRequest" wsaw:Action="urn:getApiForTenant"/>
            <wsdl:output message="tns:getApiForTenantResponse" wsaw:Action="urn:getApiForTenantResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:getApiForTenantRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="getServerContext">
            <wsdl:input message="tns:getServerContextRequest" wsaw:Action="urn:getServerContext"/>
            <wsdl:output message="tns:getServerContextResponse" wsaw:Action="urn:getServerContextResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:getServerContextRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="getResourceSource">
            <wsdl:input message="tns:getResourceSourceRequest" wsaw:Action="urn:getResourceSource"/>
            <wsdl:output message="tns:getResourceSourceResponse" wsaw:Action="urn:getResourceSourceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteSelectedApi">
            <wsdl:input message="tns:deleteSelectedApiRequest" wsaw:Action="urn:deleteSelectedApi"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:deleteSelectedApiRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="addApi">
            <wsdl:input message="tns:addApiRequest" wsaw:Action="urn:addApi"/>
            <wsdl:output message="tns:addApiResponse" wsaw:Action="urn:addApiResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:addApiRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteApi">
            <wsdl:input message="tns:deleteApiRequest" wsaw:Action="urn:deleteApi"/>
            <wsdl:output message="tns:deleteApiResponse" wsaw:Action="urn:deleteApiResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:deleteApiRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAllApi">
            <wsdl:input message="tns:deleteAllApiRequest" wsaw:Action="urn:deleteAllApi"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:deleteAllApiRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="getAPICount">
            <wsdl:input message="tns:getAPICountRequest" wsaw:Action="urn:getAPICount"/>
            <wsdl:output message="tns:getAPICountResponse" wsaw:Action="urn:getAPICountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApiSource">
            <wsdl:input message="tns:getApiSourceRequest" wsaw:Action="urn:getApiSource"/>
            <wsdl:output message="tns:getApiSourceResponse" wsaw:Action="urn:getApiSourceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteApiForTenant">
            <wsdl:input message="tns:deleteApiForTenantRequest" wsaw:Action="urn:deleteApiForTenant"/>
            <wsdl:output message="tns:deleteApiForTenantResponse" wsaw:Action="urn:deleteApiForTenantResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:deleteApiForTenantRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="getAPIsForListing">
            <wsdl:input message="tns:getAPIsForListingRequest" wsaw:Action="urn:getAPIsForListing"/>
            <wsdl:output message="tns:getAPIsForListingResponse" wsaw:Action="urn:getAPIsForListingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateApi">
            <wsdl:input message="tns:updateApiRequest" wsaw:Action="urn:updateApi"/>
            <wsdl:output message="tns:updateApiResponse" wsaw:Action="urn:updateApiResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:updateApiRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="updateApiForTenant">
            <wsdl:input message="tns:updateApiForTenantRequest" wsaw:Action="urn:updateApiForTenant"/>
            <wsdl:output message="tns:updateApiForTenantResponse" wsaw:Action="urn:updateApiForTenantResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:updateApiForTenantRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="addApiForTenant">
            <wsdl:input message="tns:addApiForTenantRequest" wsaw:Action="urn:addApiForTenant"/>
            <wsdl:output message="tns:addApiForTenantResponse" wsaw:Action="urn:addApiForTenantResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:addApiForTenantRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="updateApiFromString">
            <wsdl:input message="tns:updateApiFromStringRequest" wsaw:Action="urn:updateApiFromString"/>
            <wsdl:output message="tns:updateApiFromStringResponse" wsaw:Action="urn:updateApiFromStringResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:updateApiFromStringRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="addApiFromString">
            <wsdl:input message="tns:addApiFromStringRequest" wsaw:Action="urn:addApiFromString"/>
            <wsdl:output message="tns:addApiFromStringResponse" wsaw:Action="urn:addApiFromStringResponse"/>
            <wsdl:fault message="tns:RestApiAdminAPIException" name="RestApiAdminAPIException" wsaw:Action="urn:addApiFromStringRestApiAdminAPIException"/>
        </wsdl:operation>
        <wsdl:operation name="getSequences">
            <wsdl:input message="tns:getSequencesRequest" wsaw:Action="urn:getSequences"/>
            <wsdl:output message="tns:getSequencesResponse" wsaw:Action="urn:getSequencesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getApiNames">
            <wsdl:input message="tns:getApiNamesRequest" wsaw:Action="urn:getApiNames"/>
            <wsdl:output message="tns:getApiNamesResponse" wsaw:Action="urn:getApiNamesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestApiAdminSoap11Binding" type="tns:RestApiAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getApiByName">
            <soap:operation soapAction="urn:getApiByName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiForTenant">
            <soap:operation soapAction="urn:getApiForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerContext">
            <soap:operation soapAction="urn:getServerContext" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getResourceSource">
            <soap:operation soapAction="urn:getResourceSource" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSelectedApi">
            <soap:operation soapAction="urn:deleteSelectedApi" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addApi">
            <soap:operation soapAction="urn:addApi" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApi">
            <soap:operation soapAction="urn:deleteApi" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAllApi">
            <soap:operation soapAction="urn:deleteAllApi" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAPICount">
            <soap:operation soapAction="urn:getAPICount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiSource">
            <soap:operation soapAction="urn:getApiSource" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApiForTenant">
            <soap:operation soapAction="urn:deleteApiForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApi">
            <soap:operation soapAction="urn:updateApi" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAPIsForListing">
            <soap:operation soapAction="urn:getAPIsForListing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateApiForTenant">
            <soap:operation soapAction="urn:updateApiForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addApiForTenant">
            <soap:operation soapAction="urn:addApiForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApiFromString">
            <soap:operation soapAction="urn:updateApiFromString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addApiFromString">
            <soap:operation soapAction="urn:addApiFromString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSequences">
            <soap:operation soapAction="urn:getSequences" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiNames">
            <soap:operation soapAction="urn:getApiNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RestApiAdminSoap12Binding" type="tns:RestApiAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getApiByName">
            <soap12:operation soapAction="urn:getApiByName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiForTenant">
            <soap12:operation soapAction="urn:getApiForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerContext">
            <soap12:operation soapAction="urn:getServerContext" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getResourceSource">
            <soap12:operation soapAction="urn:getResourceSource" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSelectedApi">
            <soap12:operation soapAction="urn:deleteSelectedApi" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addApi">
            <soap12:operation soapAction="urn:addApi" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApi">
            <soap12:operation soapAction="urn:deleteApi" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteAllApi">
            <soap12:operation soapAction="urn:deleteAllApi" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAPICount">
            <soap12:operation soapAction="urn:getAPICount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiSource">
            <soap12:operation soapAction="urn:getApiSource" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApiForTenant">
            <soap12:operation soapAction="urn:deleteApiForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApi">
            <soap12:operation soapAction="urn:updateApi" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAPIsForListing">
            <soap12:operation soapAction="urn:getAPIsForListing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateApiForTenant">
            <soap12:operation soapAction="urn:updateApiForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addApiForTenant">
            <soap12:operation soapAction="urn:addApiForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateApiFromString">
            <soap12:operation soapAction="urn:updateApiFromString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addApiFromString">
            <soap12:operation soapAction="urn:addApiFromString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RestApiAdminAPIException">
                <soap12:fault use="literal" name="RestApiAdminAPIException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSequences">
            <soap12:operation soapAction="urn:getSequences" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiNames">
            <soap12:operation soapAction="urn:getApiNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RestApiAdminHttpBinding" type="tns:RestApiAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getApiByName">
            <http:operation location="getApiByName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiForTenant">
            <http:operation location="getApiForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerContext">
            <http:operation location="getServerContext"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResourceSource">
            <http:operation location="getResourceSource"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSelectedApi">
            <http:operation location="deleteSelectedApi"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addApi">
            <http:operation location="addApi"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApi">
            <http:operation location="deleteApi"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllApi">
            <http:operation location="deleteAllApi"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAPICount">
            <http:operation location="getAPICount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiSource">
            <http:operation location="getApiSource"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApiForTenant">
            <http:operation location="deleteApiForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateApi">
            <http:operation location="updateApi"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAPIsForListing">
            <http:operation location="getAPIsForListing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateApiForTenant">
            <http:operation location="updateApiForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApiForTenant">
            <http:operation location="addApiForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateApiFromString">
            <http:operation location="updateApiFromString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApiFromString">
            <http:operation location="addApiFromString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSequences">
            <http:operation location="getSequences"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApiNames">
            <http:operation location="getApiNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RestApiAdmin">
        <wsdl:port name="RestApiAdminHttpsSoap11Endpoint" binding="tns:RestApiAdminSoap11Binding">
            <soap:address location="https://localhost:8243/services/RestApiAdmin.RestApiAdminHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="RestApiAdminHttpsSoap12Endpoint" binding="tns:RestApiAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/services/RestApiAdmin.RestApiAdminHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="RestApiAdminHttpsEndpoint" binding="tns:RestApiAdminHttpBinding">
            <http:address location="https://localhost:8243/services/RestApiAdmin.RestApiAdminHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>