service-stubs/org.wso2.carbon.mediators.clazz.admin.stub/src/main/resources/ClassMediatorAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://services.clazz.mediator.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.clazz.mediator.carbon.wso2.org">
    <wsdl:documentation>ClassMediatorAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.clazz.mediator.carbon.wso2.org">
    <xs:complexType name="Exception">
        <xs:sequence>
            <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getClassSetProps">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="className" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getClassSetPropsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    </wsdl:types>
    <wsdl:message name="getClassSetPropsRequest">
        <wsdl:part name="parameters" element="ns:getClassSetProps"/>
    </wsdl:message>
    <wsdl:message name="getClassSetPropsResponse">
        <wsdl:part name="parameters" element="ns:getClassSetPropsResponse"/>
    </wsdl:message>
    <wsdl:portType name="ClassMediatorAdminPortType">
        <wsdl:operation name="getClassSetProps">
            <wsdl:input message="ns:getClassSetPropsRequest" wsaw:Action="urn:getClassSetProps"/>
            <wsdl:output message="ns:getClassSetPropsResponse" wsaw:Action="urn:getClassSetPropsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClassMediatorAdminSoap11Binding" type="ns:ClassMediatorAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getClassSetProps">
            <soap:operation soapAction="urn:getClassSetProps" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ClassMediatorAdminSoap12Binding" type="ns:ClassMediatorAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getClassSetProps">
            <soap12:operation soapAction="urn:getClassSetProps" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ClassMediatorAdminHttpBinding" type="ns:ClassMediatorAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getClassSetProps">
            <http:operation location="ClassMediatorAdmin/getClassSetProps"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getClassSetProps"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getClassSetProps"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClassMediatorAdmin">
        <wsdl:port name="ClassMediatorAdminHttpsSoap11Endpoint" binding="ns:ClassMediatorAdminSoap11Binding">
            <soap:address location="https://10.100.1.56:9443/services/ClassMediatorAdmin.ClassMediatorAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ClassMediatorAdminHttpsSoap12Endpoint" binding="ns:ClassMediatorAdminSoap12Binding">
            <soap12:address location="https://10.100.1.56:9443/services/ClassMediatorAdmin.ClassMediatorAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ClassMediatorAdminHttpsEndpoint" binding="ns:ClassMediatorAdminHttpBinding">
            <http:address location="https://10.100.1.56:9443/services/ClassMediatorAdmin.ClassMediatorAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>