service-stubs/mediation-admin/org.wso2.carbon.localentry.stub/src/main/resources/LocalEntry.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://service.localentry.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax240="http://localentry.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax245="http://mgt.dependency.mediation.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax243="http://dos.localentry.carbon.wso2.org/xsd" targetNamespace="http://service.localentry.carbon.wso2.org">
    <wsdl:documentation>LocalEntryAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax246="http://mgt.dependency.mediation.carbon.wso2.org/xsd" xmlns:ax242="http://localentry.carbon.wso2.org/xsd" xmlns:ax244="http://dos.localentry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://localentry.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dos.localentry.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://mgt.dependency.mediation.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">

                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="LocalEntryAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LocalEntryAdminException" nillable="true" type="ax242:LocalEntryAdminException"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="saveEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ele" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="saveEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveEntryForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveEntryForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="paginatedEntryData">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="paginatedEntryDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax243:EntryData"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntryNamesStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getEntryNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntryDataCountResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntry">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="entryKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getEntryForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entryKey" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntryForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDependents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getDependentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax245:ConfigurationObject"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="entryDataResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax243:EntryData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entryKey" nillable="true" type="xs:string"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="deleteEntryForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entryKey" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEntryForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ele" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEntryResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEntryForTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="element" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEntryForTenantResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.dependency.mediation.carbon.wso2.org/xsd">
            <xs:complexType name="ConfigurationObject">

                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                    <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax241="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://localentry.carbon.wso2.org/xsd">
            <xs:import namespace="http://org.apache.axis2/xsd"/>

            <xs:complexType name="LocalEntryAdminException">
                <xs:complexContent>
                    <xs:extension base="ax241:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dos.localentry.carbon.wso2.org/xsd">

            <xs:complexType name="EntryData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="artifactContainerName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="isEdited" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="getEntryDataCountRequest"/>
    <wsdl:message name="getEntryDataCountResponse">
        <wsdl:part name="parameters" element="ns1:getEntryDataCountResponse"/>
    </wsdl:message>
    <wsdl:message name="LocalEntryAdminException">
        <wsdl:part name="parameters" element="ns1:LocalEntryAdminException"/>
    </wsdl:message>
    <wsdl:message name="paginatedEntryDataRequest">
        <wsdl:part name="parameters" element="ns1:paginatedEntryData"/>

    </wsdl:message>
    <wsdl:message name="paginatedEntryDataResponse">
        <wsdl:part name="parameters" element="ns1:paginatedEntryDataResponse"/>
    </wsdl:message>
    <wsdl:message name="getEntryNamesStringRequest"/>
    <wsdl:message name="getEntryNamesStringResponse">
        <wsdl:part name="parameters" element="ns1:getEntryNamesStringResponse"/>
    </wsdl:message>
    <wsdl:message name="addEntryRequest">

        <wsdl:part name="parameters" element="ns1:addEntry"/>
    </wsdl:message>
    <wsdl:message name="addEntryResponse">
        <wsdl:part name="parameters" element="ns1:addEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="addEntryForTenantRequest">
        <wsdl:part name="parameters" element="ns1:addEntryForTenant"/>
    </wsdl:message>
    <wsdl:message name="addEntryForTenantResponse">
        <wsdl:part name="parameters" element="ns1:addEntryForTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="saveEntryRequest">
        <wsdl:part name="parameters" element="ns1:saveEntry"/>
    </wsdl:message>
    <wsdl:message name="saveEntryResponse">

        <wsdl:part name="parameters" element="ns1:saveEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="saveEntryForTenantRequest">
        <wsdl:part name="parameters" element="ns1:saveEntryForTenant"/>
    </wsdl:message>
    <wsdl:message name="saveEntryForTenantResponse">
        <wsdl:part name="parameters" element="ns1:saveEntryForTenantResponse"/>
    </wsdl:message>
    <wsdl:message name="entryDataRequest"/>
    <wsdl:message name="entryDataResponse">
        <wsdl:part name="parameters" element="ns1:entryDataResponse"/>
    </wsdl:message>
    <wsdl:message name="getDependentsRequest">
        <wsdl:part name="parameters" element="ns1:getDependents"/>
    </wsdl:message>

    <wsdl:message name="getDependentsResponse">
        <wsdl:part name="parameters" element="ns1:getDependentsResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteEntryRequest">
        <wsdl:part name="parameters" element="ns1:deleteEntry"/>
    </wsdl:message>
    <wsdl:message name="deleteEntryResponse">
        <wsdl:part name="parameters" element="ns1:deleteEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteEntryForTenantRequest">
        <wsdl:part name="parameters" element="ns1:deleteEntryForTenant"/>
    </wsdl:message>
    <wsdl:message name="deleteEntryForTenantResponse">
        <wsdl:part name="parameters" element="ns1:deleteEntryForTenantResponse"/>
    </wsdl:message>

    <wsdl:message name="getEntryNamesRequest"/>
    <wsdl:message name="getEntryNamesResponse">
        <wsdl:part name="parameters" element="ns1:getEntryNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="getEntryRequest">
        <wsdl:part name="parameters" element="ns1:getEntry"/>
    </wsdl:message>
    <wsdl:message name="getEntryResponse">
        <wsdl:part name="parameters" element="ns1:getEntryResponse"/>

    </wsdl:message>
    <wsdl:message name="getEntryForTenantRequest">
        <wsdl:part name="parameters" element="ns1:getEntryForTenant"/>
    </wsdl:message>
    <wsdl:message name="getEntryForTenantResponse">
        <wsdl:part name="parameters" element="ns1:getEntryForTenantResponse"/>
    </wsdl:message>
    <wsdl:portType name="LocalEntryAdminServicePortType">
        <wsdl:operation name="getEntryDataCount">
            <wsdl:input message="axis2:getEntryDataCountRequest" wsaw:Action="urn:getEntryDataCount"/>
            <wsdl:output message="axis2:getEntryDataCountResponse" wsaw:Action="urn:getEntryDataCountResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:getEntryDataCountLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="paginatedEntryData">
            <wsdl:input message="axis2:paginatedEntryDataRequest" wsaw:Action="urn:paginatedEntryData"/>

            <wsdl:output message="axis2:paginatedEntryDataResponse" wsaw:Action="urn:paginatedEntryDataResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:paginatedEntryDataLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getEntryNamesString">
            <wsdl:input message="axis2:getEntryNamesStringRequest" wsaw:Action="urn:getEntryNamesString"/>
            <wsdl:output message="axis2:getEntryNamesStringResponse" wsaw:Action="urn:getEntryNamesStringResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:getEntryNamesStringLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="addEntry">

            <wsdl:input message="axis2:addEntryRequest" wsaw:Action="urn:addEntry"/>
            <wsdl:output message="axis2:addEntryResponse" wsaw:Action="urn:addEntryResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:addEntryLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="addEntryForTenant">
            <wsdl:input message="axis2:addEntryForTenantRequest" wsaw:Action="urn:addEntryForTenant"/>
            <wsdl:output message="axis2:addEntryForTenantResponse" wsaw:Action="urn:addEntryForTenantResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:addEntryForTenantLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="saveEntry">
            <wsdl:input message="axis2:saveEntryRequest" wsaw:Action="urn:saveEntry"/>
            <wsdl:output message="axis2:saveEntryResponse" wsaw:Action="urn:saveEntryResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:saveEntryLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="saveEntryForTenant">
            <wsdl:input message="axis2:saveEntryForTenantRequest" wsaw:Action="urn:saveEntryForTenant"/>
            <wsdl:output message="axis2:saveEntryForTenantResponse" wsaw:Action="urn:saveEntryForTenantResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:saveEntryForTenantLocalEntryAdminException"/>
        </wsdl:operation>

        <wsdl:operation name="entryData">
            <wsdl:input message="axis2:entryDataRequest" wsaw:Action="urn:entryData"/>
            <wsdl:output message="axis2:entryDataResponse" wsaw:Action="urn:entryDataResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:entryDataLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getDependents">
            <wsdl:input message="axis2:getDependentsRequest" wsaw:Action="urn:getDependents"/>
            <wsdl:output message="axis2:getDependentsResponse" wsaw:Action="urn:getDependentsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="deleteEntry">
            <wsdl:input message="axis2:deleteEntryRequest" wsaw:Action="urn:deleteEntry"/>
            <wsdl:output message="axis2:deleteEntryResponse" wsaw:Action="urn:deleteEntryResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:deleteEntryLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEntryForTenant">
            <wsdl:input message="axis2:deleteEntryForTenantRequest" wsaw:Action="urn:deleteEntryForTenant"/>
            <wsdl:output message="axis2:deleteEntryForTenantResponse" wsaw:Action="urn:deleteEntryForTenantResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:deleteEntryForTenantLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getEntryNames">
            <wsdl:input message="axis2:getEntryNamesRequest" wsaw:Action="urn:getEntryNames"/>
            <wsdl:output message="axis2:getEntryNamesResponse" wsaw:Action="urn:getEntryNamesResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:getEntryNamesLocalEntryAdminException"/>

        </wsdl:operation>
        <wsdl:operation name="getEntry">
            <wsdl:input message="axis2:getEntryRequest" wsaw:Action="urn:getEntry"/>
            <wsdl:output message="axis2:getEntryResponse" wsaw:Action="urn:getEntryResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:getEntryLocalEntryAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getEntryForTenant">
            <wsdl:input message="axis2:getEntryForTenantRequest" wsaw:Action="urn:getEntryForTenant"/>
            <wsdl:output message="axis2:getEntryForTenantResponse" wsaw:Action="urn:getEntryForTenantResponse"/>
            <wsdl:fault message="axis2:LocalEntryAdminException" name="LocalEntryAdminException" wsaw:Action="urn:getEntryForTenantLocalEntryAdminException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LocalEntryAdminServiceSoap11Binding" type="axis2:LocalEntryAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

        <wsdl:operation name="getEntryDataCount">
            <soap:operation soapAction="urn:getEntryDataCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">

                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="paginatedEntryData">
            <soap:operation soapAction="urn:paginatedEntryData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntryNamesString">
            <soap:operation soapAction="urn:getEntryNamesString" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addEntry">
            <soap:operation soapAction="urn:addEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">

                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addEntryForTenant">
            <soap:operation soapAction="urn:addEntryForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveEntry">
            <soap:operation soapAction="urn:saveEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveEntryForTenant">
            <soap:operation soapAction="urn:saveEntryForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="entryData">
            <soap:operation soapAction="urn:entryData" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getDependents">
            <soap:operation soapAction="urn:getDependents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="deleteEntry">
            <soap:operation soapAction="urn:deleteEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">

                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEntryForTenant">
            <soap:operation soapAction="urn:deleteEntryForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntryNames">
            <soap:operation soapAction="urn:getEntryNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntry">
            <soap:operation soapAction="urn:getEntry" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntryForTenant">
            <soap:operation soapAction="urn:getEntryForTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="LocalEntryAdminServiceSoap12Binding" type="axis2:LocalEntryAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEntryDataCount">
            <soap12:operation soapAction="urn:getEntryDataCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="paginatedEntryData">
            <soap12:operation soapAction="urn:paginatedEntryData" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getEntryNamesString">
            <soap12:operation soapAction="urn:getEntryNamesString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">

                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addEntry">
            <soap12:operation soapAction="urn:addEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addEntryForTenant">
            <soap12:operation soapAction="urn:addEntryForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveEntry">
            <soap12:operation soapAction="urn:saveEntry" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveEntryForTenant">
            <soap12:operation soapAction="urn:saveEntryForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="entryData">
            <soap12:operation soapAction="urn:entryData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">

                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDependents">
            <soap12:operation soapAction="urn:getDependents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEntry">
            <soap12:operation soapAction="urn:deleteEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEntryForTenant">
            <soap12:operation soapAction="urn:deleteEntryForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntryNames">
            <soap12:operation soapAction="urn:getEntryNames" style="document"/>
            <wsdl:input>

                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getEntry">
            <soap12:operation soapAction="urn:getEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">

                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntryForTenant">
            <soap12:operation soapAction="urn:getEntryForTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LocalEntryAdminException">
                <soap12:fault use="literal" name="LocalEntryAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LocalEntryAdminServiceHttpBinding" type="axis2:LocalEntryAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getEntryDataCount">
            <http:operation location="getEntryDataCount"/>
            <wsdl:input>

                <mime:content type="text/xml" part="getEntryDataCount"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEntryDataCount"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="paginatedEntryData">
            <http:operation location="paginatedEntryData"/>
            <wsdl:input>

                <mime:content type="text/xml" part="paginatedEntryData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="paginatedEntryData"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntryNamesString">
            <http:operation location="getEntryNamesString"/>
            <wsdl:input>

                <mime:content type="text/xml" part="getEntryNamesString"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEntryNamesString"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEntry">
            <http:operation location="addEntry"/>
            <wsdl:input>

                <mime:content type="text/xml" part="addEntry"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addEntry"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEntryForTenant">
            <http:operation location="addEntryForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addEntryForTenant"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addEntryForTenant"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveEntry">
            <http:operation location="saveEntry"/>
            <wsdl:input>

                <mime:content type="text/xml" part="saveEntry"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveEntry"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveEntryForTenant">
            <http:operation location="saveEntryForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveEntryForTenant"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveEntryForTenant"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="entryData">
            <http:operation location="entryData"/>
            <wsdl:input>

                <mime:content type="text/xml" part="entryData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="entryData"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDependents">
            <http:operation location="getDependents"/>
            <wsdl:input>

                <mime:content type="text/xml" part="getDependents"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getDependents"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEntry">
            <http:operation location="deleteEntry"/>
            <wsdl:input>

                <mime:content type="text/xml" part="deleteEntry"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteEntry"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEntryForTenant">
            <http:operation location="deleteEntryForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteEntryForTenant"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="deleteEntryForTenant"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntryNames">
            <http:operation location="getEntryNames"/>
            <wsdl:input>

                <mime:content type="text/xml" part="getEntryNames"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEntryNames"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntry">
            <http:operation location="getEntry"/>
            <wsdl:input>

                <mime:content type="text/xml" part="getEntry"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEntry"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntryForTenant">
            <http:operation location="getEntryForTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getEntryForTenant"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getEntryForTenant"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LocalEntryAdminService">
        <wsdl:port name="LocalEntryAdminServiceHttpsSoap11Endpoint" binding="axis2:LocalEntryAdminServiceSoap11Binding">

            <soap:address location="https://localhost:8243/services/LocalEntryAdminService.LocalEntryAdminServiceHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="LocalEntryAdminServiceHttpsSoap12Endpoint" binding="axis2:LocalEntryAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:8243/services/LocalEntryAdminService.LocalEntryAdminServiceHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="LocalEntryAdminServiceHttpsEndpoint" binding="axis2:LocalEntryAdminServiceHttpBinding">
            <http:address location="https://localhost:8243/services/LocalEntryAdminService.LocalEntryAdminServiceHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
