service-stubs/mediation-admin/org.wso2.carbon.inbound.stub/src/main/resources/InboundAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://inbound.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2265="http://inbound.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://inbound.carbon.wso2.org">
   <wsdl:documentation>InboundAdmin</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2266="http://inbound.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
         <xs:import namespace="http://inbound.carbon.wso2.org/xsd"/>
         <xs:element name="InboundAdminInboundManagementException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="InboundManagementException" nillable="true" type="ax2265:InboundManagementException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllInboundEndpointNames">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAllInboundEndpointNamesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2265:InboundEndpointDTO"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getInboundEndpointbyName">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="endointName" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getInboundEndpointbyNameResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2265:InboundEndpointDTO"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addInboundEndpoint">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="sequence" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="onError" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="classImpl" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="suspend" nillable="true" type="xs:string"/>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="lParameterDTOs" nillable="true" type="ax2265:ParameterDTO"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addInboundEndpointFromXMLString">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="inboundElement" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="updateInboundEndpoint">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="sequence" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="onError" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="classImpl" nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="suspend" nillable="true" type="xs:string"/>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="lParameterDTOs" nillable="true" type="ax2265:ParameterDTO"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="removeInboundEndpoint">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inbound.carbon.wso2.org/xsd">
         <xs:complexType name="InboundManagementException">
            <xs:sequence/>
         </xs:complexType>
         <xs:complexType name="InboundEndpointDTO">
            <xs:sequence>
               <xs:element minOccurs="0" name="artifactContainerName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="classImpl" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="injectingSeq" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="isEdited" nillable="true" type="xs:boolean"/>
               <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="onErrorSeq" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="ax2265:ParameterDTO"/>
               <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="suspend" type="xs:boolean"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ParameterDTO">
            <xs:sequence>
               <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="addInboundEndpointFromXMLStringRequest">
      <wsdl:part name="parameters" element="ns1:addInboundEndpointFromXMLString"/>
   </wsdl:message>
   <wsdl:message name="addInboundEndpointRequest">
      <wsdl:part name="parameters" element="ns1:addInboundEndpoint"/>
   </wsdl:message>
   <wsdl:message name="InboundAdminInboundManagementException">
      <wsdl:part name="parameters" element="ns1:InboundAdminInboundManagementException"/>
   </wsdl:message>
   <wsdl:message name="removeInboundEndpointRequest">
      <wsdl:part name="parameters" element="ns1:removeInboundEndpoint"/>
   </wsdl:message>
   <wsdl:message name="getAllInboundEndpointNamesRequest">
      <wsdl:part name="parameters" element="ns1:getAllInboundEndpointNames"/>
   </wsdl:message>
   <wsdl:message name="getAllInboundEndpointNamesResponse">
      <wsdl:part name="parameters" element="ns1:getAllInboundEndpointNamesResponse"/>
   </wsdl:message>
   <wsdl:message name="updateInboundEndpointRequest">
      <wsdl:part name="parameters" element="ns1:updateInboundEndpoint"/>
   </wsdl:message>
   <wsdl:message name="getInboundEndpointbyNameRequest">
      <wsdl:part name="parameters" element="ns1:getInboundEndpointbyName"/>
   </wsdl:message>
   <wsdl:message name="getInboundEndpointbyNameResponse">
      <wsdl:part name="parameters" element="ns1:getInboundEndpointbyNameResponse"/>
   </wsdl:message>
   <wsdl:portType name="InboundAdminPortType">
      <wsdl:operation name="addInboundEndpointFromXMLString">
         <wsdl:input message="tns:addInboundEndpointFromXMLStringRequest" wsaw:Action="urn:addInboundEndpointFromXMLString"/>
      </wsdl:operation>
      <wsdl:operation name="addInboundEndpoint">
         <wsdl:input message="tns:addInboundEndpointRequest" wsaw:Action="urn:addInboundEndpoint"/>
         <wsdl:fault message="tns:InboundAdminInboundManagementException" name="InboundAdminInboundManagementException" wsaw:Action="urn:addInboundEndpointInboundAdminInboundManagementException"/>
      </wsdl:operation>
      <wsdl:operation name="removeInboundEndpoint">
         <wsdl:input message="tns:removeInboundEndpointRequest" wsaw:Action="urn:removeInboundEndpoint"/>
         <wsdl:fault message="tns:InboundAdminInboundManagementException" name="InboundAdminInboundManagementException" wsaw:Action="urn:removeInboundEndpointInboundAdminInboundManagementException"/>
      </wsdl:operation>
      <wsdl:operation name="getAllInboundEndpointNames">
         <wsdl:input message="tns:getAllInboundEndpointNamesRequest" wsaw:Action="urn:getAllInboundEndpointNames"/>
         <wsdl:output message="tns:getAllInboundEndpointNamesResponse" wsaw:Action="urn:getAllInboundEndpointNamesResponse"/>
         <wsdl:fault message="tns:InboundAdminInboundManagementException" name="InboundAdminInboundManagementException" wsaw:Action="urn:getAllInboundEndpointNamesInboundAdminInboundManagementException"/>
      </wsdl:operation>
      <wsdl:operation name="updateInboundEndpoint">
         <wsdl:input message="tns:updateInboundEndpointRequest" wsaw:Action="urn:updateInboundEndpoint"/>
         <wsdl:fault message="tns:InboundAdminInboundManagementException" name="InboundAdminInboundManagementException" wsaw:Action="urn:updateInboundEndpointInboundAdminInboundManagementException"/>
      </wsdl:operation>
      <wsdl:operation name="getInboundEndpointbyName">
         <wsdl:input message="tns:getInboundEndpointbyNameRequest" wsaw:Action="urn:getInboundEndpointbyName"/>
         <wsdl:output message="tns:getInboundEndpointbyNameResponse" wsaw:Action="urn:getInboundEndpointbyNameResponse"/>
         <wsdl:fault message="tns:InboundAdminInboundManagementException" name="InboundAdminInboundManagementException" wsaw:Action="urn:getInboundEndpointbyNameInboundAdminInboundManagementException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="InboundAdminSoap11Binding" type="tns:InboundAdminPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="addInboundEndpointFromXMLString">
         <soap:operation soapAction="urn:addInboundEndpointFromXMLString" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="addInboundEndpoint">
         <soap:operation soapAction="urn:addInboundEndpoint" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeInboundEndpoint">
         <soap:operation soapAction="urn:removeInboundEndpoint" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAllInboundEndpointNames">
         <soap:operation soapAction="urn:getAllInboundEndpointNames" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getInboundEndpointbyName">
         <soap:operation soapAction="urn:getInboundEndpointbyName" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateInboundEndpoint">
         <soap:operation soapAction="urn:updateInboundEndpoint" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="InboundAdminSoap12Binding" type="tns:InboundAdminPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="addInboundEndpointFromXMLString">
         <soap12:operation soapAction="urn:addInboundEndpointFromXMLString" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="addInboundEndpoint">
         <soap12:operation soapAction="urn:addInboundEndpoint" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap12:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="removeInboundEndpoint">
         <soap12:operation soapAction="urn:removeInboundEndpoint" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap12:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAllInboundEndpointNames">
         <soap12:operation soapAction="urn:getAllInboundEndpointNames" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap12:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getInboundEndpointbyName">
         <soap12:operation soapAction="urn:getInboundEndpointbyName" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap12:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateInboundEndpoint">
         <soap12:operation soapAction="urn:updateInboundEndpoint" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:fault name="InboundAdminInboundManagementException">
            <soap12:fault use="literal" name="InboundAdminInboundManagementException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="InboundAdminHttpBinding" type="tns:InboundAdminPortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="addInboundEndpointFromXMLString">
         <http:operation location="addInboundEndpointFromXMLString"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="addInboundEndpoint">
         <http:operation location="addInboundEndpoint"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="removeInboundEndpoint">
         <http:operation location="removeInboundEndpoint"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="getAllInboundEndpointNames">
         <http:operation location="getAllInboundEndpointNames"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getInboundEndpointbyName">
         <http:operation location="getInboundEndpointbyName"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateInboundEndpoint">
         <http:operation location="updateInboundEndpoint"/>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="InboundAdmin">
      <wsdl:port name="InboundAdminHttpsSoap11Endpoint" binding="tns:InboundAdminSoap11Binding">
         <soap:address location="https://localhost:8243/services/InboundAdmin.InboundAdminHttpsSoap11Endpoint"/>
      </wsdl:port>
      <wsdl:port name="InboundAdminHttpsSoap12Endpoint" binding="tns:InboundAdminSoap12Binding">
         <soap12:address location="https://localhost:8243/services/InboundAdmin.InboundAdminHttpsSoap12Endpoint"/>
      </wsdl:port>
      <wsdl:port name="InboundAdminHttpsEndpoint" binding="tns:InboundAdminHttpBinding">
         <http:address location="https://localhost:8243/services/InboundAdmin.InboundAdminHttpsEndpoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>