components/sequence-editor/org.wso2.carbon.sequences.ui/src/main/resources/SequenceAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://services.sequences.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2242="http://common.sequences.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2244="http://to.common.sequences.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.sequences.carbon.wso2.org">
    <wsdl:documentation>SequenceAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://to.common.sequences.carbon.wso2.org/xsd">
            <xs:complexType name="SequenceInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="enableStatistics" type="xs:boolean" />
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ConfigurationObject">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resourceId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="type" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.sequences.carbon.wso2.org/xsd">
            <xs:complexType name="SequenceEditorException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2245="http://to.common.sequences.carbon.wso2.org/xsd" xmlns:ax2243="http://common.sequences.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
            <xs:import namespace="http://common.sequences.carbon.wso2.org/xsd" />
            <xs:import namespace="http://to.common.sequences.carbon.wso2.org/xsd" />

            <xs:element name="SequenceEditorException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SequenceEditorException" nillable="true" type="ax2242:SequenceEditorException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateDynamicSequence">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveSequence">
                <xs:complexType>
                    <xs:sequence>

                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveDynamicSequence">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                        <xs:any minOccurs="0"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSequencesCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getSequences">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                        <xs:element minOccurs="0" name="sequencePerPage" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getSequencesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2244:SequenceInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSequence">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSequenceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntryNamesStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getDynamicSequences">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                        <xs:element minOccurs="0" name="sequencePerPage" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getDynamicSequencesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2244:SequenceInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicSequenceCountResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicSequence">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicSequenceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getDependents">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequence" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDependentsResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2244:ConfigurationObject" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableTracing">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableTracingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="enableStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="enableStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableTracing">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableTracingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="disableStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteSequence">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteDynamicSequence">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSequence">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="addDynamicSequence">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSequenceRequest">
        <wsdl:part name="parameters" element="ns:getSequence" />
    </wsdl:message>
    <wsdl:message name="getSequenceResponse">
        <wsdl:part name="parameters" element="ns:getSequenceResponse" />
    </wsdl:message>

    <wsdl:message name="SequenceEditorException">
        <wsdl:part name="parameters" element="ns:SequenceEditorException" />
    </wsdl:message>
    <wsdl:message name="enableStatisticsRequest">
        <wsdl:part name="parameters" element="ns:enableStatistics" />
    </wsdl:message>
    <wsdl:message name="enableStatisticsResponse">
        <wsdl:part name="parameters" element="ns:enableStatisticsResponse" />
    </wsdl:message>

    <wsdl:message name="getEntryNamesStringRequest" />
    <wsdl:message name="getEntryNamesStringResponse">
        <wsdl:part name="parameters" element="ns:getEntryNamesStringResponse" />
    </wsdl:message>
    <wsdl:message name="saveSequenceRequest">
        <wsdl:part name="parameters" element="ns:saveSequence" />
    </wsdl:message>
    <wsdl:message name="addDynamicSequenceRequest">
        <wsdl:part name="parameters" element="ns:addDynamicSequence" />

    </wsdl:message>
    <wsdl:message name="enableTracingRequest">
        <wsdl:part name="parameters" element="ns:enableTracing" />
    </wsdl:message>
    <wsdl:message name="enableTracingResponse">
        <wsdl:part name="parameters" element="ns:enableTracingResponse" />
    </wsdl:message>
    <wsdl:message name="getDynamicSequenceRequest">
        <wsdl:part name="parameters" element="ns:getDynamicSequence" />

    </wsdl:message>
    <wsdl:message name="getDynamicSequenceResponse">
        <wsdl:part name="parameters" element="ns:getDynamicSequenceResponse" />
    </wsdl:message>
    <wsdl:message name="getDynamicSequenceCountRequest" />
    <wsdl:message name="getDynamicSequenceCountResponse">
        <wsdl:part name="parameters" element="ns:getDynamicSequenceCountResponse" />
    </wsdl:message>
    <wsdl:message name="addSequenceRequest">

        <wsdl:part name="parameters" element="ns:addSequence" />
    </wsdl:message>
    <wsdl:message name="deleteDynamicSequenceRequest">
        <wsdl:part name="parameters" element="ns:deleteDynamicSequence" />
    </wsdl:message>
    <wsdl:message name="getSequencesCountRequest" />
    <wsdl:message name="getSequencesCountResponse">
        <wsdl:part name="parameters" element="ns:getSequencesCountResponse" />
    </wsdl:message>

    <wsdl:message name="getDynamicSequencesRequest">
        <wsdl:part name="parameters" element="ns:getDynamicSequences" />
    </wsdl:message>
    <wsdl:message name="getDynamicSequencesResponse">
        <wsdl:part name="parameters" element="ns:getDynamicSequencesResponse" />
    </wsdl:message>
    <wsdl:message name="getSequencesRequest">
        <wsdl:part name="parameters" element="ns:getSequences" />
    </wsdl:message>

    <wsdl:message name="getSequencesResponse">
        <wsdl:part name="parameters" element="ns:getSequencesResponse" />
    </wsdl:message>
    <wsdl:message name="disableStatisticsRequest">
        <wsdl:part name="parameters" element="ns:disableStatistics" />
    </wsdl:message>
    <wsdl:message name="disableStatisticsResponse">
        <wsdl:part name="parameters" element="ns:disableStatisticsResponse" />
    </wsdl:message>

    <wsdl:message name="getDependentsRequest">
        <wsdl:part name="parameters" element="ns:getDependents" />
    </wsdl:message>
    <wsdl:message name="getDependentsResponse">
        <wsdl:part name="parameters" element="ns:getDependentsResponse" />
    </wsdl:message>
    <wsdl:message name="updateDynamicSequenceRequest">
        <wsdl:part name="parameters" element="ns:updateDynamicSequence" />
    </wsdl:message>

    <wsdl:message name="disableTracingRequest">
        <wsdl:part name="parameters" element="ns:disableTracing" />
    </wsdl:message>
    <wsdl:message name="disableTracingResponse">
        <wsdl:part name="parameters" element="ns:disableTracingResponse" />
    </wsdl:message>
    <wsdl:message name="deleteSequenceRequest">
        <wsdl:part name="parameters" element="ns:deleteSequence" />
    </wsdl:message>

    <wsdl:message name="saveDynamicSequenceRequest">
        <wsdl:part name="parameters" element="ns:saveDynamicSequence" />
    </wsdl:message>
    <wsdl:portType name="SequenceAdminServicePortType">
        <wsdl:operation name="getSequence">
            <wsdl:input message="axis2:getSequenceRequest" wsaw:Action="urn:getSequence" />
            <wsdl:output message="axis2:getSequenceResponse" wsaw:Action="urn:getSequenceResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:getSequenceSequenceEditorException" />
        </wsdl:operation>

        <wsdl:operation name="enableStatistics">
            <wsdl:input message="axis2:enableStatisticsRequest" wsaw:Action="urn:enableStatistics" />
            <wsdl:output message="axis2:enableStatisticsResponse" wsaw:Action="urn:enableStatisticsResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:enableStatisticsSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="getEntryNamesString">
            <wsdl:input message="axis2:getEntryNamesStringRequest" wsaw:Action="urn:getEntryNamesString" />
            <wsdl:output message="axis2:getEntryNamesStringResponse" wsaw:Action="urn:getEntryNamesStringResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:getEntryNamesStringSequenceEditorException" />

        </wsdl:operation>
        <wsdl:operation name="saveSequence">
            <wsdl:input message="axis2:saveSequenceRequest" wsaw:Action="urn:saveSequence" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:saveSequenceSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="addDynamicSequence">
            <wsdl:input message="axis2:addDynamicSequenceRequest" wsaw:Action="urn:addDynamicSequence" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:addDynamicSequenceSequenceEditorException" />
        </wsdl:operation>

        <wsdl:operation name="enableTracing">
            <wsdl:input message="axis2:enableTracingRequest" wsaw:Action="urn:enableTracing" />
            <wsdl:output message="axis2:enableTracingResponse" wsaw:Action="urn:enableTracingResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:enableTracingSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="getDynamicSequence">
            <wsdl:input message="axis2:getDynamicSequenceRequest" wsaw:Action="urn:getDynamicSequence" />
            <wsdl:output message="axis2:getDynamicSequenceResponse" wsaw:Action="urn:getDynamicSequenceResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:getDynamicSequenceSequenceEditorException" />

        </wsdl:operation>
        <wsdl:operation name="getDynamicSequenceCount">
            <wsdl:input message="axis2:getDynamicSequenceCountRequest" wsaw:Action="urn:getDynamicSequenceCount" />
            <wsdl:output message="axis2:getDynamicSequenceCountResponse" wsaw:Action="urn:getDynamicSequenceCountResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:getDynamicSequenceCountSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="addSequence">
            <wsdl:input message="axis2:addSequenceRequest" wsaw:Action="urn:addSequence" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:addSequenceSequenceEditorException" />

        </wsdl:operation>
        <wsdl:operation name="deleteDynamicSequence">
            <wsdl:input message="axis2:deleteDynamicSequenceRequest" wsaw:Action="urn:deleteDynamicSequence" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:deleteDynamicSequenceSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="getSequencesCount">
            <wsdl:input message="axis2:getSequencesCountRequest" wsaw:Action="urn:getSequencesCount" />
            <wsdl:output message="axis2:getSequencesCountResponse" wsaw:Action="urn:getSequencesCountResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:getSequencesCountSequenceEditorException" />

        </wsdl:operation>
        <wsdl:operation name="getDynamicSequences">
            <wsdl:input message="axis2:getDynamicSequencesRequest" wsaw:Action="urn:getDynamicSequences" />
            <wsdl:output message="axis2:getDynamicSequencesResponse" wsaw:Action="urn:getDynamicSequencesResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:getDynamicSequencesSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="getSequences">
            <wsdl:input message="axis2:getSequencesRequest" wsaw:Action="urn:getSequences" />
            <wsdl:output message="axis2:getSequencesResponse" wsaw:Action="urn:getSequencesResponse" />

            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:getSequencesSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <wsdl:input message="axis2:disableStatisticsRequest" wsaw:Action="urn:disableStatistics" />
            <wsdl:output message="axis2:disableStatisticsResponse" wsaw:Action="urn:disableStatisticsResponse" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:disableStatisticsSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="getDependents">
            <wsdl:input message="axis2:getDependentsRequest" wsaw:Action="urn:getDependents" />

            <wsdl:output message="axis2:getDependentsResponse" wsaw:Action="urn:getDependentsResponse" />
        </wsdl:operation>
        <wsdl:operation name="updateDynamicSequence">
            <wsdl:input message="axis2:updateDynamicSequenceRequest" wsaw:Action="urn:updateDynamicSequence" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:updateDynamicSequenceSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <wsdl:input message="axis2:disableTracingRequest" wsaw:Action="urn:disableTracing" />
            <wsdl:output message="axis2:disableTracingResponse" wsaw:Action="urn:disableTracingResponse" />

            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:disableTracingSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="deleteSequence">
            <wsdl:input message="axis2:deleteSequenceRequest" wsaw:Action="urn:deleteSequence" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:deleteSequenceSequenceEditorException" />
        </wsdl:operation>
        <wsdl:operation name="saveDynamicSequence">
            <wsdl:input message="axis2:saveDynamicSequenceRequest" wsaw:Action="urn:saveDynamicSequence" />
            <wsdl:fault message="axis2:SequenceEditorException" name="SequenceEditorException" wsaw:Action="urn:saveDynamicSequenceSequenceEditorException" />

        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SequenceAdminServiceSoap11Binding" type="axis2:SequenceAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getSequence">
            <soap:operation soapAction="urn:getSequence" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <soap:operation soapAction="urn:enableStatistics" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="saveSequence">
            <soap:operation soapAction="urn:saveSequence" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getEntryNamesString">
            <soap:operation soapAction="urn:getEntryNamesString" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addDynamicSequence">
            <soap:operation soapAction="urn:addDynamicSequence" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <soap:operation soapAction="urn:enableTracing" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDynamicSequenceCount">
            <soap:operation soapAction="urn:getDynamicSequenceCount" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getDynamicSequence">
            <soap:operation soapAction="urn:getDynamicSequence" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSequence">
            <soap:operation soapAction="urn:addSequence" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicSequence">
            <soap:operation soapAction="urn:deleteDynamicSequence" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDynamicSequences">
            <soap:operation soapAction="urn:getDynamicSequences" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSequencesCount">
            <soap:operation soapAction="urn:getSequencesCount" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getSequences">
            <soap:operation soapAction="urn:getSequences" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDependents">
            <soap:operation soapAction="urn:getDependents" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <soap:operation soapAction="urn:disableStatistics" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateDynamicSequence">
            <soap:operation soapAction="urn:updateDynamicSequence" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <soap:operation soapAction="urn:disableTracing" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="saveDynamicSequence">
            <soap:operation soapAction="urn:saveDynamicSequence" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="deleteSequence">
            <soap:operation soapAction="urn:deleteSequence" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SequenceEditorException">
                <soap:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SequenceAdminServiceSoap12Binding" type="axis2:SequenceAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getSequence">
            <soap12:operation soapAction="urn:getSequence" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <soap12:operation soapAction="urn:enableStatistics" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="saveSequence">
            <soap12:operation soapAction="urn:saveSequence" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getEntryNamesString">
            <soap12:operation soapAction="urn:getEntryNamesString" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addDynamicSequence">
            <soap12:operation soapAction="urn:addDynamicSequence" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <soap12:operation soapAction="urn:enableTracing" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDynamicSequenceCount">
            <soap12:operation soapAction="urn:getDynamicSequenceCount" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getDynamicSequence">
            <soap12:operation soapAction="urn:getDynamicSequence" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSequence">
            <soap12:operation soapAction="urn:addSequence" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicSequence">
            <soap12:operation soapAction="urn:deleteDynamicSequence" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDynamicSequences">
            <soap12:operation soapAction="urn:getDynamicSequences" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSequencesCount">
            <soap12:operation soapAction="urn:getSequencesCount" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getSequences">
            <soap12:operation soapAction="urn:getSequences" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDependents">
            <soap12:operation soapAction="urn:getDependents" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <soap12:operation soapAction="urn:disableStatistics" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateDynamicSequence">
            <soap12:operation soapAction="urn:updateDynamicSequence" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <soap12:operation soapAction="urn:disableTracing" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="saveDynamicSequence">
            <soap12:operation soapAction="urn:saveDynamicSequence" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="deleteSequence">
            <soap12:operation soapAction="urn:deleteSequence" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SequenceEditorException">
                <soap12:fault use="literal" name="SequenceEditorException" />
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SequenceAdminServiceHttpBinding" type="axis2:SequenceAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getSequence">
            <http:operation location="getSequence" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <http:operation location="enableStatistics" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveSequence">
            <http:operation location="saveSequence" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getEntryNamesString">
            <http:operation location="getEntryNamesString" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="addDynamicSequence">
            <http:operation location="addDynamicSequence" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <http:operation location="enableTracing" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDynamicSequenceCount">
            <http:operation location="getDynamicSequenceCount" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDynamicSequence">
            <http:operation location="getDynamicSequence" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addSequence">
            <http:operation location="addSequence" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicSequence">
            <http:operation location="deleteDynamicSequence" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="getDynamicSequences">
            <http:operation location="getDynamicSequences" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="getSequencesCount">
            <http:operation location="getSequencesCount" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="getSequences">
            <http:operation location="getSequences" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="getDependents">
            <http:operation location="getDependents" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <http:operation location="disableStatistics" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="updateDynamicSequence">
            <http:operation location="updateDynamicSequence" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <http:operation location="disableTracing" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicSequence">
            <http:operation location="saveDynamicSequence" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteSequence">
            <http:operation location="deleteSequence" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SequenceAdminService">
        <wsdl:port name="SequenceAdminServiceHttpsSoap11Endpoint" binding="axis2:SequenceAdminServiceSoap11Binding">
            <soap:address location="https://localhost:8243/services/SequenceAdminService.SequenceAdminServiceHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="SequenceAdminServiceHttpsSoap12Endpoint" binding="axis2:SequenceAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:8243/services/SequenceAdminService.SequenceAdminServiceHttpsSoap12Endpoint" />
        </wsdl:port>

        <wsdl:port name="SequenceAdminServiceHttpsEndpoint" binding="axis2:SequenceAdminServiceHttpBinding">
            <http:address location="https://localhost:8243/services/SequenceAdminService.SequenceAdminServiceHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>