service-stubs/mediation-admin/org.wso2.carbon.mediation.templates.stub/src/main/resources/EndpointTemplateAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://services.templates.mediation.carbon.wso2.org"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ax2275="http://common.templates.mediation.carbon.wso2.org/xsd"
                  targetNamespace="http://services.templates.mediation.carbon.wso2.org">
    <wsdl:documentation>EndpointTemplateAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://common.templates.mediation.carbon.wso2.org/xsd">
            <xs:complexType name="EndpointTemplateInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endpointType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paramColelctionString" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2276="http://common.templates.mediation.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
            <xs:import namespace="http://common.templates.mediation.carbon.wso2.org/xsd"/>
            <xs:element name="saveEndpointTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateConfig" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveDynamicEndpointTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sequenceConfig" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasDuplicateTempleteEndpoint">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateElementConfig" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasDuplicateTempleteEndpointResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"/>
                        <!--<xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>-->
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointTemplatesCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointTemplatesCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointTemplates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="endpointTemplatesPerPage" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointTemplatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2276:EndpointTemplateInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicEndpointTemplatesCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicEndpointTemplatesCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicEndpointTemplates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="endpointTemplatesPerPage" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicEndpointTemplatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax2276:EndpointTemplateInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEndpointTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteDynamicEndpointTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEndpointTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateElementConfig" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addDynamicEndpointTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sequenceConfig" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDynamicEndpointTemplatesRequest">
        <wsdl:part name="parameters" element="ns:getDynamicEndpointTemplates"/>
    </wsdl:message>
    <wsdl:message name="getDynamicEndpointTemplatesResponse">
        <wsdl:part name="parameters" element="ns:getDynamicEndpointTemplatesResponse"/>
    </wsdl:message>
    <wsdl:message name="saveEndpointTemplateRequest">
        <wsdl:part name="parameters" element="ns:saveEndpointTemplate"/>
    </wsdl:message>
    <wsdl:message name="deleteDynamicEndpointTemplateRequest">
        <wsdl:part name="parameters" element="ns:deleteDynamicEndpointTemplate"/>
    </wsdl:message>
    <wsdl:message name="addDynamicEndpointTemplateRequest">
        <wsdl:part name="parameters" element="ns:addDynamicEndpointTemplate"/>
    </wsdl:message>
    <wsdl:message name="addEndpointTemplateRequest">
        <wsdl:part name="parameters" element="ns:addEndpointTemplate"/>
    </wsdl:message>
    <wsdl:message name="deleteEndpointTemplateRequest">
        <wsdl:part name="parameters" element="ns:deleteEndpointTemplate"/>
    </wsdl:message>
    <wsdl:message name="getEndpointTemplatesRequest">
        <wsdl:part name="parameters" element="ns:getEndpointTemplates"/>
    </wsdl:message>
    <wsdl:message name="getEndpointTemplatesResponse">
        <wsdl:part name="parameters" element="ns:getEndpointTemplatesResponse"/>
    </wsdl:message>
    <wsdl:message name="getDynamicEndpointTemplatesCountRequest">
        <wsdl:part name="parameters" element="ns:getDynamicEndpointTemplatesCount"/>
    </wsdl:message>
    <wsdl:message name="getDynamicEndpointTemplatesCountResponse">
        <wsdl:part name="parameters" element="ns:getDynamicEndpointTemplatesCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getTemplateRequest">
        <wsdl:part name="parameters" element="ns:getTemplate"/>
    </wsdl:message>
    <wsdl:message name="getTemplateResponse">
        <wsdl:part name="parameters" element="ns:getTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="hasDuplicateTempleteEndpointRequest">
        <wsdl:part name="parameters" element="ns:hasDuplicateTempleteEndpoint"/>
    </wsdl:message>
    <wsdl:message name="hasDuplicateTempleteEndpointResponse">
        <wsdl:part name="parameters" element="ns:hasDuplicateTempleteEndpointResponse"/>
    </wsdl:message>
    <wsdl:message name="saveDynamicEndpointTemplateRequest">
        <wsdl:part name="parameters" element="ns:saveDynamicEndpointTemplate"/>
    </wsdl:message>
    <wsdl:message name="getEndpointTemplatesCountRequest">
        <wsdl:part name="parameters" element="ns:getEndpointTemplatesCount"/>
    </wsdl:message>
    <wsdl:message name="getEndpointTemplatesCountResponse">
        <wsdl:part name="parameters" element="ns:getEndpointTemplatesCountResponse"/>
    </wsdl:message>
    <wsdl:portType name="EndpointTemplateAdminServicePortType">
        <wsdl:operation name="getDynamicEndpointTemplates">
            <wsdl:input message="tns:getDynamicEndpointTemplatesRequest" wsaw:Action="urn:getDynamicEndpointTemplates"/>
            <wsdl:output message="tns:getDynamicEndpointTemplatesResponse"
                         wsaw:Action="urn:getDynamicEndpointTemplatesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveEndpointTemplate">
            <wsdl:input message="tns:saveEndpointTemplateRequest" wsaw:Action="urn:saveEndpointTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicEndpointTemplate">
            <wsdl:input message="tns:deleteDynamicEndpointTemplateRequest"
                        wsaw:Action="urn:deleteDynamicEndpointTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="addDynamicEndpointTemplate">
            <wsdl:input message="tns:addDynamicEndpointTemplateRequest" wsaw:Action="urn:addDynamicEndpointTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="addEndpointTemplate">
            <wsdl:input message="tns:addEndpointTemplateRequest" wsaw:Action="urn:addEndpointTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEndpointTemplate">
            <wsdl:input message="tns:deleteEndpointTemplateRequest" wsaw:Action="urn:deleteEndpointTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="getEndpointTemplates">
            <wsdl:input message="tns:getEndpointTemplatesRequest" wsaw:Action="urn:getEndpointTemplates"/>
            <wsdl:output message="tns:getEndpointTemplatesResponse" wsaw:Action="urn:getEndpointTemplatesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDynamicEndpointTemplatesCount">
            <wsdl:input message="tns:getDynamicEndpointTemplatesCountRequest"
                        wsaw:Action="urn:getDynamicEndpointTemplatesCount"/>
            <wsdl:output message="tns:getDynamicEndpointTemplatesCountResponse"
                         wsaw:Action="urn:getDynamicEndpointTemplatesCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <wsdl:input message="tns:getTemplateRequest" wsaw:Action="urn:getTemplate"/>
            <wsdl:output message="tns:getTemplateResponse" wsaw:Action="urn:getTemplateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="hasDuplicateTempleteEndpoint">
            <wsdl:input message="tns:hasDuplicateTempleteEndpointRequest"
                        wsaw:Action="urn:hasDuplicateTempleteEndpoint"/>
            <wsdl:output message="tns:hasDuplicateTempleteEndpointResponse"
                         wsaw:Action="urn:hasDuplicateTempleteEndpointResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicEndpointTemplate">
            <wsdl:input message="tns:saveDynamicEndpointTemplateRequest" wsaw:Action="urn:saveDynamicEndpointTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="getEndpointTemplatesCount">
            <wsdl:input message="tns:getEndpointTemplatesCountRequest" wsaw:Action="urn:getEndpointTemplatesCount"/>
            <wsdl:output message="tns:getEndpointTemplatesCountResponse"
                         wsaw:Action="urn:getEndpointTemplatesCountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EndpointTemplateAdminServiceSoap11Binding" type="tns:EndpointTemplateAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDynamicEndpointTemplates">
            <soap:operation soapAction="urn:getDynamicEndpointTemplates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveEndpointTemplate">
            <soap:operation soapAction="urn:saveEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicEndpointTemplate">
            <soap:operation soapAction="urn:deleteDynamicEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addEndpointTemplate">
            <soap:operation soapAction="urn:addEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addDynamicEndpointTemplate">
            <soap:operation soapAction="urn:addDynamicEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEndpointTemplates">
            <soap:operation soapAction="urn:getEndpointTemplates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEndpointTemplate">
            <soap:operation soapAction="urn:deleteEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicEndpointTemplatesCount">
            <soap:operation soapAction="urn:getDynamicEndpointTemplatesCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <soap:operation soapAction="urn:getTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicEndpointTemplate">
            <soap:operation soapAction="urn:saveDynamicEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="hasDuplicateTempleteEndpoint">
            <soap:operation soapAction="urn:hasDuplicateTempleteEndpoint" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEndpointTemplatesCount">
            <soap:operation soapAction="urn:getEndpointTemplatesCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EndpointTemplateAdminServiceSoap12Binding" type="tns:EndpointTemplateAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDynamicEndpointTemplates">
            <soap12:operation soapAction="urn:getDynamicEndpointTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveEndpointTemplate">
            <soap12:operation soapAction="urn:saveEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicEndpointTemplate">
            <soap12:operation soapAction="urn:deleteDynamicEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addEndpointTemplate">
            <soap12:operation soapAction="urn:addEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addDynamicEndpointTemplate">
            <soap12:operation soapAction="urn:addDynamicEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEndpointTemplates">
            <soap12:operation soapAction="urn:getEndpointTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEndpointTemplate">
            <soap12:operation soapAction="urn:deleteEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicEndpointTemplatesCount">
            <soap12:operation soapAction="urn:getDynamicEndpointTemplatesCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <soap12:operation soapAction="urn:getTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicEndpointTemplate">
            <soap12:operation soapAction="urn:saveDynamicEndpointTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="hasDuplicateTempleteEndpoint">
            <soap12:operation soapAction="urn:hasDuplicateTempleteEndpoint" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEndpointTemplatesCount">
            <soap12:operation soapAction="urn:getEndpointTemplatesCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EndpointTemplateAdminServiceHttpBinding" type="tns:EndpointTemplateAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getDynamicEndpointTemplates">
            <http:operation location="getDynamicEndpointTemplates"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveEndpointTemplate">
            <http:operation location="saveEndpointTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicEndpointTemplate">
            <http:operation location="deleteDynamicEndpointTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addEndpointTemplate">
            <http:operation location="addEndpointTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addDynamicEndpointTemplate">
            <http:operation location="addDynamicEndpointTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEndpointTemplates">
            <http:operation location="getEndpointTemplates"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEndpointTemplate">
            <http:operation location="deleteEndpointTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicEndpointTemplatesCount">
            <http:operation location="getDynamicEndpointTemplatesCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <http:operation location="getTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicEndpointTemplate">
            <http:operation location="saveDynamicEndpointTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="hasDuplicateTempleteEndpoint">
            <http:operation location="hasDuplicateTempleteEndpoint"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEndpointTemplatesCount">
            <http:operation location="getEndpointTemplatesCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EndpointTemplateAdminService">
        <wsdl:port name="EndpointTemplateAdminServiceHttpsSoap11Endpoint" binding="tns:EndpointTemplateAdminServiceSoap11Binding">
            <soap:address location="https://localhost:8243/services/EndpointTemplateAdminService.EndpointTemplateAdminServiceHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="EndpointTemplateAdminServiceHttpsSoap12Endpoint" binding="tns:EndpointTemplateAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:8243/services/EndpointTemplateAdminService.EndpointTemplateAdminServiceHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="EndpointTemplateAdminServiceHttpsEndpoint" binding="tns:EndpointTemplateAdminServiceHttpBinding">
            <http:address location="https://localhost:8243/services/EndpointTemplateAdminService.EndpointTemplateAdminServiceHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>