service-stubs/mediation-admin/org.wso2.carbon.mediation.templates.stub/src/main/resources/TemplateAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://services.templates.mediation.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2269="http://common.templates.mediation.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.templates.mediation.carbon.wso2.org">
    <wsdl:documentation>TemplateAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.templates.mediation.carbon.wso2.org/xsd">
            <xs:complexType name="TemplateInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deployedFromCApp" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="edited" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableStatistics" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2270="http://common.templates.mediation.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
            <xs:import namespace="http://common.templates.mediation.carbon.wso2.org/xsd"/>
            <xs:element name="updateDynamicTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <!--<xs:element minOccurs="0" name="omElement" nillable="true" type="xs:anyType"/>-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <!--<xs:element minOccurs="0" name="templateElement" nillable="true" type="xs:anyType"/>-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveDynamicTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <!--<xs:element minOccurs="0" name="sequence" nillable="true" type="xs:anyType"/>-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplatesCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplatesCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="templatePerPage" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2269:TemplateInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <!--<xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicTemplates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="sequencePerPage" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicTemplatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2269:TemplateInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicTemplateCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicTemplateCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDynamicTemplateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <!--<xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableTracing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableTracingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableTracing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableTracingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteDynamicTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <!--<xs:element minOccurs="0" name="templateElement" nillable="true" type="xs:anyType"/>-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addDynamicTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <!--<xs:element minOccurs="0" name="sequence" nillable="true" type="xs:anyType"/>-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="enableStatisticsRequest">
        <wsdl:part name="parameters" element="ns:enableStatistics"/>
    </wsdl:message>
    <wsdl:message name="enableStatisticsResponse">
        <wsdl:part name="parameters" element="ns:enableStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="saveDynamicTemplateRequest">
        <wsdl:part name="parameters" element="ns:saveDynamicTemplate"/>
    </wsdl:message>
    <wsdl:message name="getDynamicTemplateRequest">
        <wsdl:part name="parameters" element="ns:getDynamicTemplate"/>
    </wsdl:message>
    <wsdl:message name="getDynamicTemplateResponse">
        <wsdl:part name="parameters" element="ns:getDynamicTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="getTemplatesRequest">
        <wsdl:part name="parameters" element="ns:getTemplates"/>
    </wsdl:message>
    <wsdl:message name="getTemplatesResponse">
        <wsdl:part name="parameters" element="ns:getTemplatesResponse"/>
    </wsdl:message>
    <wsdl:message name="enableTracingRequest">
        <wsdl:part name="parameters" element="ns:enableTracing"/>
    </wsdl:message>
    <wsdl:message name="enableTracingResponse">
        <wsdl:part name="parameters" element="ns:enableTracingResponse"/>
    </wsdl:message>
    <wsdl:message name="addTemplateRequest">
        <wsdl:part name="parameters" element="ns:addTemplate"/>
    </wsdl:message>
    <wsdl:message name="deleteDynamicTemplateRequest">
        <wsdl:part name="parameters" element="ns:deleteDynamicTemplate"/>
    </wsdl:message>
    <wsdl:message name="getDynamicTemplatesRequest">
        <wsdl:part name="parameters" element="ns:getDynamicTemplates"/>
    </wsdl:message>
    <wsdl:message name="getDynamicTemplatesResponse">
        <wsdl:part name="parameters" element="ns:getDynamicTemplatesResponse"/>
    </wsdl:message>
    <wsdl:message name="getTemplateRequest">
        <wsdl:part name="parameters" element="ns:getTemplate"/>
    </wsdl:message>
    <wsdl:message name="getTemplateResponse">
        <wsdl:part name="parameters" element="ns:getTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="disableStatisticsRequest">
        <wsdl:part name="parameters" element="ns:disableStatistics"/>
    </wsdl:message>
    <wsdl:message name="disableStatisticsResponse">
        <wsdl:part name="parameters" element="ns:disableStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="disableTracingRequest">
        <wsdl:part name="parameters" element="ns:disableTracing"/>
    </wsdl:message>
    <wsdl:message name="disableTracingResponse">
        <wsdl:part name="parameters" element="ns:disableTracingResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteTemplateRequest">
        <wsdl:part name="parameters" element="ns:deleteTemplate"/>
    </wsdl:message>
    <wsdl:message name="getTemplatesCountRequest">
        <wsdl:part name="parameters" element="ns:getTemplatesCount"/>
    </wsdl:message>
    <wsdl:message name="getTemplatesCountResponse">
        <wsdl:part name="parameters" element="ns:getTemplatesCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getDynamicTemplateCountRequest">
        <wsdl:part name="parameters" element="ns:getDynamicTemplateCount"/>
    </wsdl:message>
    <wsdl:message name="getDynamicTemplateCountResponse">
        <wsdl:part name="parameters" element="ns:getDynamicTemplateCountResponse"/>
    </wsdl:message>
    <wsdl:message name="updateDynamicTemplateRequest">
        <wsdl:part name="parameters" element="ns:updateDynamicTemplate"/>
    </wsdl:message>
    <wsdl:message name="addDynamicTemplateRequest">
        <wsdl:part name="parameters" element="ns:addDynamicTemplate"/>
    </wsdl:message>
    <wsdl:message name="saveTemplateRequest">
        <wsdl:part name="parameters" element="ns:saveTemplate"/>
    </wsdl:message>
    <wsdl:portType name="TemplateAdminServicePortType">
        <wsdl:operation name="enableStatistics">
            <wsdl:input message="tns:enableStatisticsRequest" wsaw:Action="urn:enableStatistics"/>
            <wsdl:output message="tns:enableStatisticsResponse" wsaw:Action="urn:enableStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicTemplate">
            <wsdl:input message="tns:saveDynamicTemplateRequest" wsaw:Action="urn:saveDynamicTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplate">
            <wsdl:input message="tns:getDynamicTemplateRequest" wsaw:Action="urn:getDynamicTemplate"/>
            <wsdl:output message="tns:getDynamicTemplateResponse" wsaw:Action="urn:getDynamicTemplateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplates">
            <wsdl:input message="tns:getTemplatesRequest" wsaw:Action="urn:getTemplates"/>
            <wsdl:output message="tns:getTemplatesResponse" wsaw:Action="urn:getTemplatesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <wsdl:input message="tns:enableTracingRequest" wsaw:Action="urn:enableTracing"/>
            <wsdl:output message="tns:enableTracingResponse" wsaw:Action="urn:enableTracingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addTemplate">
            <wsdl:input message="tns:addTemplateRequest" wsaw:Action="urn:addTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicTemplate">
            <wsdl:input message="tns:deleteDynamicTemplateRequest" wsaw:Action="urn:deleteDynamicTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplates">
            <wsdl:input message="tns:getDynamicTemplatesRequest" wsaw:Action="urn:getDynamicTemplates"/>
            <wsdl:output message="tns:getDynamicTemplatesResponse" wsaw:Action="urn:getDynamicTemplatesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <wsdl:input message="tns:getTemplateRequest" wsaw:Action="urn:getTemplate"/>
            <wsdl:output message="tns:getTemplateResponse" wsaw:Action="urn:getTemplateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <wsdl:input message="tns:disableStatisticsRequest" wsaw:Action="urn:disableStatistics"/>
            <wsdl:output message="tns:disableStatisticsResponse" wsaw:Action="urn:disableStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <wsdl:input message="tns:disableTracingRequest" wsaw:Action="urn:disableTracing"/>
            <wsdl:output message="tns:disableTracingResponse" wsaw:Action="urn:disableTracingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteTemplate">
            <wsdl:input message="tns:deleteTemplateRequest" wsaw:Action="urn:deleteTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplatesCount">
            <wsdl:input message="tns:getTemplatesCountRequest" wsaw:Action="urn:getTemplatesCount"/>
            <wsdl:output message="tns:getTemplatesCountResponse" wsaw:Action="urn:getTemplatesCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplateCount">
            <wsdl:input message="tns:getDynamicTemplateCountRequest" wsaw:Action="urn:getDynamicTemplateCount"/>
            <wsdl:output message="tns:getDynamicTemplateCountResponse" wsaw:Action="urn:getDynamicTemplateCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateDynamicTemplate">
            <wsdl:input message="tns:updateDynamicTemplateRequest" wsaw:Action="urn:updateDynamicTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="addDynamicTemplate">
            <wsdl:input message="tns:addDynamicTemplateRequest" wsaw:Action="urn:addDynamicTemplate"/>
        </wsdl:operation>
        <wsdl:operation name="saveTemplate">
            <wsdl:input message="tns:saveTemplateRequest" wsaw:Action="urn:saveTemplate"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TemplateAdminServiceSoap11Binding" type="tns:TemplateAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="enableStatistics">
            <soap:operation soapAction="urn:enableStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicTemplate">
            <soap:operation soapAction="urn:saveDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplate">
            <soap:operation soapAction="urn:getDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplates">
            <soap:operation soapAction="urn:getTemplates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <soap:operation soapAction="urn:enableTracing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTemplate">
            <soap:operation soapAction="urn:addTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicTemplate">
            <soap:operation soapAction="urn:deleteDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <soap:operation soapAction="urn:getTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplates">
            <soap:operation soapAction="urn:getDynamicTemplates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <soap:operation soapAction="urn:disableStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <soap:operation soapAction="urn:disableTracing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplatesCount">
            <soap:operation soapAction="urn:getTemplatesCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTemplate">
            <soap:operation soapAction="urn:deleteTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplateCount">
            <soap:operation soapAction="urn:getDynamicTemplateCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDynamicTemplate">
            <soap:operation soapAction="urn:updateDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addDynamicTemplate">
            <soap:operation soapAction="urn:addDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="saveTemplate">
            <soap:operation soapAction="urn:saveTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TemplateAdminServiceSoap12Binding" type="tns:TemplateAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="enableStatistics">
            <soap12:operation soapAction="urn:enableStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicTemplate">
            <soap12:operation soapAction="urn:saveDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplate">
            <soap12:operation soapAction="urn:getDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplates">
            <soap12:operation soapAction="urn:getTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <soap12:operation soapAction="urn:enableTracing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTemplate">
            <soap12:operation soapAction="urn:addTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicTemplate">
            <soap12:operation soapAction="urn:deleteDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <soap12:operation soapAction="urn:getTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplates">
            <soap12:operation soapAction="urn:getDynamicTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <soap12:operation soapAction="urn:disableStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <soap12:operation soapAction="urn:disableTracing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplatesCount">
            <soap12:operation soapAction="urn:getTemplatesCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTemplate">
            <soap12:operation soapAction="urn:deleteTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplateCount">
            <soap12:operation soapAction="urn:getDynamicTemplateCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDynamicTemplate">
            <soap12:operation soapAction="urn:updateDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addDynamicTemplate">
            <soap12:operation soapAction="urn:addDynamicTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="saveTemplate">
            <soap12:operation soapAction="urn:saveTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TemplateAdminServiceHttpBinding" type="tns:TemplateAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="enableStatistics">
            <http:operation location="enableStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveDynamicTemplate">
            <http:operation location="saveDynamicTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplate">
            <http:operation location="getDynamicTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplates">
            <http:operation location="getTemplates"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <http:operation location="enableTracing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTemplate">
            <http:operation location="addTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteDynamicTemplate">
            <http:operation location="deleteDynamicTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <http:operation location="getTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplates">
            <http:operation location="getDynamicTemplates"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <http:operation location="disableStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <http:operation location="disableTracing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplatesCount">
            <http:operation location="getTemplatesCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTemplate">
            <http:operation location="deleteTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDynamicTemplateCount">
            <http:operation location="getDynamicTemplateCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDynamicTemplate">
            <http:operation location="updateDynamicTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addDynamicTemplate">
            <http:operation location="addDynamicTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="saveTemplate">
            <http:operation location="saveTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TemplateAdminService">
        <wsdl:port name="TemplateAdminServiceHttpsSoap11Endpoint" binding="tns:TemplateAdminServiceSoap11Binding">
            <soap:address location="https://localhost:8243/services/TemplateAdminService.TemplateAdminServiceHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="TemplateAdminServiceHttpsSoap12Endpoint" binding="tns:TemplateAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:8243/services/TemplateAdminService.TemplateAdminServiceHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="TemplateAdminServiceHttpsEndpoint" binding="tns:TemplateAdminServiceHttpBinding">
            <http:address location="https://localhost:8243/services/TemplateAdminService.TemplateAdminServiceHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>