service-stubs/mediation-admin/org.wso2.carbon.priority.executors.stub/src/main/resources/PriorityMediationAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://services.executors.priority.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.executors.priority.carbon.wso2.org">
    <wsdl:documentation>PriorityMediationAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="update">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                        <!--<xs:element minOccurs="0" name="executor" nillable="true" type="xs:anyType" />-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="remove">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExecutorListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExecutor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExecutorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <!--<xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                        <!--<xs:element minOccurs="0" name="executor" nillable="true" type="xs:anyType" />-->
                        <xs:any minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addRequest">
        <wsdl:part name="parameters" element="ns:add" />
    </wsdl:message>
    <wsdl:message name="removeRequest">
        <wsdl:part name="parameters" element="ns:remove" />
    </wsdl:message>
    <wsdl:message name="getExecutorRequest">
        <wsdl:part name="parameters" element="ns:getExecutor" />
    </wsdl:message>
    <wsdl:message name="getExecutorResponse">
        <wsdl:part name="parameters" element="ns:getExecutorResponse" />
    </wsdl:message>
    <wsdl:message name="updateRequest">
        <wsdl:part name="parameters" element="ns:update" />
    </wsdl:message>
    <wsdl:message name="getExecutorListRequest" />
    <wsdl:message name="getExecutorListResponse">
        <wsdl:part name="parameters" element="ns:getExecutorListResponse" />
    </wsdl:message>
    <wsdl:portType name="PriorityMediationAdminPortType">
        <wsdl:operation name="add">
            <wsdl:input message="axis2:addRequest" wsaw:Action="urn:add" />
        </wsdl:operation>
        <wsdl:operation name="remove">
            <wsdl:input message="axis2:removeRequest" wsaw:Action="urn:remove" />
        </wsdl:operation>
        <wsdl:operation name="getExecutor">
            <wsdl:input message="axis2:getExecutorRequest" wsaw:Action="urn:getExecutor" />
            <wsdl:output message="axis2:getExecutorResponse" wsaw:Action="urn:getExecutorResponse" />
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="axis2:updateRequest" wsaw:Action="urn:update" />
        </wsdl:operation>
        <wsdl:operation name="getExecutorList">
            <wsdl:input message="axis2:getExecutorListRequest" wsaw:Action="urn:getExecutorList" />
            <wsdl:output message="axis2:getExecutorListResponse" wsaw:Action="urn:getExecutorListResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PriorityMediationAdminSoap11Binding" type="axis2:PriorityMediationAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="remove">
            <soap:operation soapAction="urn:remove" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="add">
            <soap:operation soapAction="urn:add" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getExecutor">
            <soap:operation soapAction="urn:getExecutor" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExecutorList">
            <soap:operation soapAction="urn:getExecutorList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="urn:update" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PriorityMediationAdminSoap12Binding" type="axis2:PriorityMediationAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="remove">
            <soap12:operation soapAction="urn:remove" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="add">
            <soap12:operation soapAction="urn:add" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getExecutor">
            <soap12:operation soapAction="urn:getExecutor" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExecutorList">
            <soap12:operation soapAction="urn:getExecutorList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap12:operation soapAction="urn:update" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PriorityMediationAdminHttpBinding" type="axis2:PriorityMediationAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="remove">
            <http:operation location="remove" />
            <wsdl:input>
                <mime:content type="text/xml" part="remove" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="add">
            <http:operation location="add" />
            <wsdl:input>
                <mime:content type="text/xml" part="add" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getExecutor">
            <http:operation location="getExecutor" />
            <wsdl:input>
                <mime:content type="text/xml" part="getExecutor" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getExecutor" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExecutorList">
            <http:operation location="getExecutorList" />
            <wsdl:input>
                <mime:content type="text/xml" part="getExecutorList" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getExecutorList" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <http:operation location="update" />
            <wsdl:input>
                <mime:content type="text/xml" part="update" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PriorityMediationAdmin">
        <wsdl:port name="PriorityMediationAdminHttpsSoap11Endpoint" binding="axis2:PriorityMediationAdminSoap11Binding">
            <soap:address location="https://localhost:8243/services/PriorityMediationAdmin.PriorityMediationAdminHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="PriorityMediationAdminHttpsSoap12Endpoint" binding="axis2:PriorityMediationAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/services/PriorityMediationAdmin.PriorityMediationAdminHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="PriorityMediationAdminHttpsEndpoint" binding="axis2:PriorityMediationAdminHttpBinding">
            <http:address location="https://localhost:8243/services/PriorityMediationAdmin.PriorityMediationAdminHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>