components/mediation-ui/org.wso2.carbon.proxyadmin.ui/src/main/resources/ProxyServiceAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2160="http://proxyadmin.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.proxyadmin.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.proxyadmin.carbon.wso2.org">
    <wsdl:documentation>ProxyServiceAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://proxyadmin.carbon.wso2.org/xsd">
            <xs:complexType name="ProxyAdminException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ProxyData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enableSecurity" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableStatistics" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="endpointKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endpointXML" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultSeqKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultSeqXML" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inSeqKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inSeqXML" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outSeqKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outSeqXML" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="pinnedServers" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policies" nillable="true" type="ax2160:ProxyServicePolicyInfo"/>
                    <xs:element minOccurs="0" name="running" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="serviceGroup" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceParams" nillable="true" type="ax2160:Entry"/>
                    <xs:element minOccurs="0" name="startOnLoad" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transports" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="wsdlAvailable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="wsdlDef" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="wsdlKey" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlResources" nillable="true" type="ax2160:Entry"/>
                    <xs:element minOccurs="0" name="wsdlURI" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProxyServicePolicyInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="operationNS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Entry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MetaData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="endpoints" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endpointsAvailable" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sequences" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sequencesAvailable" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transports" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transportsAvailable" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2161="http://proxyadmin.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
            <xs:import namespace="http://proxyadmin.carbon.wso2.org/xsd"/>
            <xs:element name="ProxyServiceAdminProxyAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ProxyAdminException" nillable="true" type="ax2160:ProxyAdminException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stopProxyService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stopProxyServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startProxyService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startProxyServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="redeployProxyService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="redeployProxyServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pd" nillable="true" type="ax2160:ProxyData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyProxyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSourceView">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pd" nillable="true" type="ax2160:ProxyData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSourceViewResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProxyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2160:ProxyData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMetaData">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMetaDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2160:MetaData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpoint">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEndpointResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableTransports">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableTransportsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableSequences">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableSequencesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableEndpoints">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableEndpointsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableTracing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableTracingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableTracing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableTracingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProxyService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="proxyName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProxyServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pd" nillable="true" type="ax2160:ProxyData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addProxyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAvailableTransportsRequest">
        <wsdl:part name="parameters" element="ns:getAvailableTransports"/>
    </wsdl:message>
    <wsdl:message name="getAvailableTransportsResponse">
        <wsdl:part name="parameters" element="ns:getAvailableTransportsResponse"/>
    </wsdl:message>
    <wsdl:message name="ProxyServiceAdminProxyAdminException">
        <wsdl:part name="parameters" element="ns:ProxyServiceAdminProxyAdminException"/>
    </wsdl:message>
    <wsdl:message name="addProxyRequest">
        <wsdl:part name="parameters" element="ns:addProxy"/>
    </wsdl:message>
    <wsdl:message name="addProxyResponse">
        <wsdl:part name="parameters" element="ns:addProxyResponse"/>
    </wsdl:message>
    <wsdl:message name="getMetaDataRequest">
        <wsdl:part name="parameters" element="ns:getMetaData"/>
    </wsdl:message>
    <wsdl:message name="getMetaDataResponse">
        <wsdl:part name="parameters" element="ns:getMetaDataResponse"/>
    </wsdl:message>
    <wsdl:message name="getSourceViewRequest">
        <wsdl:part name="parameters" element="ns:getSourceView"/>
    </wsdl:message>
    <wsdl:message name="getSourceViewResponse">
        <wsdl:part name="parameters" element="ns:getSourceViewResponse"/>
    </wsdl:message>
    <wsdl:message name="redeployProxyServiceRequest">
        <wsdl:part name="parameters" element="ns:redeployProxyService"/>
    </wsdl:message>
    <wsdl:message name="redeployProxyServiceResponse">
        <wsdl:part name="parameters" element="ns:redeployProxyServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="enableStatisticsRequest">
        <wsdl:part name="parameters" element="ns:enableStatistics"/>
    </wsdl:message>
    <wsdl:message name="enableStatisticsResponse">
        <wsdl:part name="parameters" element="ns:enableStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="startProxyServiceRequest">
        <wsdl:part name="parameters" element="ns:startProxyService"/>
    </wsdl:message>
    <wsdl:message name="startProxyServiceResponse">
        <wsdl:part name="parameters" element="ns:startProxyServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="getEndpointRequest">
        <wsdl:part name="parameters" element="ns:getEndpoint"/>
    </wsdl:message>
    <wsdl:message name="getEndpointResponse">
        <wsdl:part name="parameters" element="ns:getEndpointResponse"/>
    </wsdl:message>
    <wsdl:message name="modifyProxyRequest">
        <wsdl:part name="parameters" element="ns:modifyProxy"/>
    </wsdl:message>
    <wsdl:message name="modifyProxyResponse">
        <wsdl:part name="parameters" element="ns:modifyProxyResponse"/>
    </wsdl:message>
    <wsdl:message name="enableTracingRequest">
        <wsdl:part name="parameters" element="ns:enableTracing"/>
    </wsdl:message>
    <wsdl:message name="enableTracingResponse">
        <wsdl:part name="parameters" element="ns:enableTracingResponse"/>
    </wsdl:message>
    <wsdl:message name="stopProxyServiceRequest">
        <wsdl:part name="parameters" element="ns:stopProxyService"/>
    </wsdl:message>
    <wsdl:message name="stopProxyServiceResponse">
        <wsdl:part name="parameters" element="ns:stopProxyServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteProxyServiceRequest">
        <wsdl:part name="parameters" element="ns:deleteProxyService"/>
    </wsdl:message>
    <wsdl:message name="deleteProxyServiceResponse">
        <wsdl:part name="parameters" element="ns:deleteProxyServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="getAvailableEndpointsRequest">
        <wsdl:part name="parameters" element="ns:getAvailableEndpoints"/>
    </wsdl:message>
    <wsdl:message name="getAvailableEndpointsResponse">
        <wsdl:part name="parameters" element="ns:getAvailableEndpointsResponse"/>
    </wsdl:message>
    <wsdl:message name="getProxyRequest">
        <wsdl:part name="parameters" element="ns:getProxy"/>
    </wsdl:message>
    <wsdl:message name="getProxyResponse">
        <wsdl:part name="parameters" element="ns:getProxyResponse"/>
    </wsdl:message>
    <wsdl:message name="disableStatisticsRequest">
        <wsdl:part name="parameters" element="ns:disableStatistics"/>
    </wsdl:message>
    <wsdl:message name="disableStatisticsResponse">
        <wsdl:part name="parameters" element="ns:disableStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAvailableSequencesRequest">
        <wsdl:part name="parameters" element="ns:getAvailableSequences"/>
    </wsdl:message>
    <wsdl:message name="getAvailableSequencesResponse">
        <wsdl:part name="parameters" element="ns:getAvailableSequencesResponse"/>
    </wsdl:message>
    <wsdl:message name="disableTracingRequest">
        <wsdl:part name="parameters" element="ns:disableTracing"/>
    </wsdl:message>
    <wsdl:message name="disableTracingResponse">
        <wsdl:part name="parameters" element="ns:disableTracingResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProxyServiceAdminPortType">
        <wsdl:operation name="getAvailableTransports">
            <wsdl:input message="tns:getAvailableTransportsRequest" wsaw:Action="urn:getAvailableTransports"/>
            <wsdl:output message="tns:getAvailableTransportsResponse" wsaw:Action="urn:getAvailableTransportsResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:getAvailableTransportsProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="addProxy">
            <wsdl:input message="tns:addProxyRequest" wsaw:Action="urn:addProxy"/>
            <wsdl:output message="tns:addProxyResponse" wsaw:Action="urn:addProxyResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:addProxyProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getMetaData">
            <wsdl:input message="tns:getMetaDataRequest" wsaw:Action="urn:getMetaData"/>
            <wsdl:output message="tns:getMetaDataResponse" wsaw:Action="urn:getMetaDataResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:getMetaDataProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getSourceView">
            <wsdl:input message="tns:getSourceViewRequest" wsaw:Action="urn:getSourceView"/>
            <wsdl:output message="tns:getSourceViewResponse" wsaw:Action="urn:getSourceViewResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:getSourceViewProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="redeployProxyService">
            <wsdl:input message="tns:redeployProxyServiceRequest" wsaw:Action="urn:redeployProxyService"/>
            <wsdl:output message="tns:redeployProxyServiceResponse" wsaw:Action="urn:redeployProxyServiceResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:redeployProxyServiceProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <wsdl:input message="tns:enableStatisticsRequest" wsaw:Action="urn:enableStatistics"/>
            <wsdl:output message="tns:enableStatisticsResponse" wsaw:Action="urn:enableStatisticsResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:enableStatisticsProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="startProxyService">
            <wsdl:input message="tns:startProxyServiceRequest" wsaw:Action="urn:startProxyService"/>
            <wsdl:output message="tns:startProxyServiceResponse" wsaw:Action="urn:startProxyServiceResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:startProxyServiceProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getEndpoint">
            <wsdl:input message="tns:getEndpointRequest" wsaw:Action="urn:getEndpoint"/>
            <wsdl:output message="tns:getEndpointResponse" wsaw:Action="urn:getEndpointResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:getEndpointProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="modifyProxy">
            <wsdl:input message="tns:modifyProxyRequest" wsaw:Action="urn:modifyProxy"/>
            <wsdl:output message="tns:modifyProxyResponse" wsaw:Action="urn:modifyProxyResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:modifyProxyProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <wsdl:input message="tns:enableTracingRequest" wsaw:Action="urn:enableTracing"/>
            <wsdl:output message="tns:enableTracingResponse" wsaw:Action="urn:enableTracingResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:enableTracingProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="stopProxyService">
            <wsdl:input message="tns:stopProxyServiceRequest" wsaw:Action="urn:stopProxyService"/>
            <wsdl:output message="tns:stopProxyServiceResponse" wsaw:Action="urn:stopProxyServiceResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:stopProxyServiceProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteProxyService">
            <wsdl:input message="tns:deleteProxyServiceRequest" wsaw:Action="urn:deleteProxyService"/>
            <wsdl:output message="tns:deleteProxyServiceResponse" wsaw:Action="urn:deleteProxyServiceResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:deleteProxyServiceProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAvailableEndpoints">
            <wsdl:input message="tns:getAvailableEndpointsRequest" wsaw:Action="urn:getAvailableEndpoints"/>
            <wsdl:output message="tns:getAvailableEndpointsResponse" wsaw:Action="urn:getAvailableEndpointsResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:getAvailableEndpointsProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getProxy">
            <wsdl:input message="tns:getProxyRequest" wsaw:Action="urn:getProxy"/>
            <wsdl:output message="tns:getProxyResponse" wsaw:Action="urn:getProxyResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:getProxyProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <wsdl:input message="tns:disableStatisticsRequest" wsaw:Action="urn:disableStatistics"/>
            <wsdl:output message="tns:disableStatisticsResponse" wsaw:Action="urn:disableStatisticsResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:disableStatisticsProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="getAvailableSequences">
            <wsdl:input message="tns:getAvailableSequencesRequest" wsaw:Action="urn:getAvailableSequences"/>
            <wsdl:output message="tns:getAvailableSequencesResponse" wsaw:Action="urn:getAvailableSequencesResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:getAvailableSequencesProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <wsdl:input message="tns:disableTracingRequest" wsaw:Action="urn:disableTracing"/>
            <wsdl:output message="tns:disableTracingResponse" wsaw:Action="urn:disableTracingResponse"/>
            <wsdl:fault message="tns:ProxyServiceAdminProxyAdminException" name="ProxyServiceAdminProxyAdminException" wsaw:Action="urn:disableTracingProxyServiceAdminProxyAdminException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProxyServiceAdminSoap11Binding" type="tns:ProxyServiceAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAvailableTransports">
            <soap:operation soapAction="urn:getAvailableTransports" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="redeployProxyService">
            <soap:operation soapAction="urn:redeployProxyService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSourceView">
            <soap:operation soapAction="urn:getSourceView" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMetaData">
            <soap:operation soapAction="urn:getMetaData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addProxy">
            <soap:operation soapAction="urn:addProxy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <soap:operation soapAction="urn:enableStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startProxyService">
            <soap:operation soapAction="urn:startProxyService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEndpoint">
            <soap:operation soapAction="urn:getEndpoint" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyProxy">
            <soap:operation soapAction="urn:modifyProxy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <soap:operation soapAction="urn:enableTracing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="stopProxyService">
            <soap:operation soapAction="urn:stopProxyService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProxyService">
            <soap:operation soapAction="urn:deleteProxyService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProxy">
            <soap:operation soapAction="urn:getProxy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableEndpoints">
            <soap:operation soapAction="urn:getAvailableEndpoints" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <soap:operation soapAction="urn:disableStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableSequences">
            <soap:operation soapAction="urn:getAvailableSequences" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <soap:operation soapAction="urn:disableTracing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProxyServiceAdminSoap12Binding" type="tns:ProxyServiceAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAvailableTransports">
            <soap12:operation soapAction="urn:getAvailableTransports" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="redeployProxyService">
            <soap12:operation soapAction="urn:redeployProxyService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSourceView">
            <soap12:operation soapAction="urn:getSourceView" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMetaData">
            <soap12:operation soapAction="urn:getMetaData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addProxy">
            <soap12:operation soapAction="urn:addProxy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <soap12:operation soapAction="urn:enableStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startProxyService">
            <soap12:operation soapAction="urn:startProxyService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEndpoint">
            <soap12:operation soapAction="urn:getEndpoint" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyProxy">
            <soap12:operation soapAction="urn:modifyProxy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <soap12:operation soapAction="urn:enableTracing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="stopProxyService">
            <soap12:operation soapAction="urn:stopProxyService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProxyService">
            <soap12:operation soapAction="urn:deleteProxyService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProxy">
            <soap12:operation soapAction="urn:getProxy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableEndpoints">
            <soap12:operation soapAction="urn:getAvailableEndpoints" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <soap12:operation soapAction="urn:disableStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableSequences">
            <soap12:operation soapAction="urn:getAvailableSequences" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <soap12:operation soapAction="urn:disableTracing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ProxyServiceAdminProxyAdminException">
                <soap12:fault use="literal" name="ProxyServiceAdminProxyAdminException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProxyServiceAdminHttpBinding" type="tns:ProxyServiceAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAvailableTransports">
            <http:operation location="getAvailableTransports"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="redeployProxyService">
            <http:operation location="redeployProxyService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSourceView">
            <http:operation location="getSourceView"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMetaData">
            <http:operation location="getMetaData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addProxy">
            <http:operation location="addProxy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <http:operation location="enableStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startProxyService">
            <http:operation location="startProxyService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEndpoint">
            <http:operation location="getEndpoint"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modifyProxy">
            <http:operation location="modifyProxy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <http:operation location="enableTracing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stopProxyService">
            <http:operation location="stopProxyService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteProxyService">
            <http:operation location="deleteProxyService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProxy">
            <http:operation location="getProxy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableEndpoints">
            <http:operation location="getAvailableEndpoints"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <http:operation location="disableStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableSequences">
            <http:operation location="getAvailableSequences"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <http:operation location="disableTracing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProxyServiceAdmin">
        <wsdl:port name="ProxyServiceAdminHttpsSoap11Endpoint" binding="tns:ProxyServiceAdminSoap11Binding">
            <soap:address location="https://localhost:8243/services/ProxyServiceAdmin.ProxyServiceAdminHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="ProxyServiceAdminHttpsSoap12Endpoint" binding="tns:ProxyServiceAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/services/ProxyServiceAdmin.ProxyServiceAdminHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="ProxyServiceAdminHttpsEndpoint" binding="tns:ProxyServiceAdminHttpBinding">
            <http:address location="https://localhost:8243/services/ProxyServiceAdmin.ProxyServiceAdminHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>