components/application-mgt/org.wso2.carbon.application.mgt.synapse.ui/src/main/resources/SynapseApplicationAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax295="http://synapse.mgt.application.carbon.wso2.org/xsd" xmlns:ns="http://synapse.mgt.application.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://synapse.mgt.application.carbon.wso2.org">
    <wsdl:documentation>SynapseApplicationAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax296="http://synapse.mgt.application.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://synapse.mgt.application.carbon.wso2.org">
            <xs:import namespace="http://synapse.mgt.application.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSynapseAppData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSynapseAppDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax295:SynapseApplicationMetadata"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteSequence">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sequenceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProxyService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="psName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLocalEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="leName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEndpoint">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="endpointName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://synapse.mgt.application.carbon.wso2.org/xsd">
            <xs:complexType name="SynapseApplicationMetadata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="endpoints" nillable="true" type="ax295:EndpointMetadata"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="events" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="localEntries" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="mediators" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="proxyServices" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sequences" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tasks" nillable="true" type="ax295:TaskMetadata"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TaskMetadata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EndpointMetadata">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteProxyServiceRequest">
        <wsdl:part name="parameters" element="ns:deleteProxyService"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:message name="deleteTaskRequest">
        <wsdl:part name="parameters" element="ns:deleteTask"/>
    </wsdl:message>
    <wsdl:message name="deleteSequenceRequest">
        <wsdl:part name="parameters" element="ns:deleteSequence"/>
    </wsdl:message>
    <wsdl:message name="deleteEndpointRequest">
        <wsdl:part name="parameters" element="ns:deleteEndpoint"/>
    </wsdl:message>
    <wsdl:message name="deleteEventRequest">
        <wsdl:part name="parameters" element="ns:deleteEvent"/>
    </wsdl:message>
    <wsdl:message name="getSynapseAppDataRequest">
        <wsdl:part name="parameters" element="ns:getSynapseAppData"/>
    </wsdl:message>
    <wsdl:message name="getSynapseAppDataResponse">
        <wsdl:part name="parameters" element="ns:getSynapseAppDataResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteLocalEntryRequest">
        <wsdl:part name="parameters" element="ns:deleteLocalEntry"/>
    </wsdl:message>
    <wsdl:portType name="SynapseApplicationAdminPortType">
        <wsdl:operation name="deleteProxyService">
            <wsdl:input message="ns:deleteProxyServiceRequest" wsaw:Action="urn:deleteProxyService"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:deleteProxyServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteTask">
            <wsdl:input message="ns:deleteTaskRequest" wsaw:Action="urn:deleteTask"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:deleteTaskException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteSequence">
            <wsdl:input message="ns:deleteSequenceRequest" wsaw:Action="urn:deleteSequence"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:deleteSequenceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEndpoint">
            <wsdl:input message="ns:deleteEndpointRequest" wsaw:Action="urn:deleteEndpoint"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:deleteEndpointException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEvent">
            <wsdl:input message="ns:deleteEventRequest" wsaw:Action="urn:deleteEvent"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:deleteEventException"/>
        </wsdl:operation>
        <wsdl:operation name="getSynapseAppData">
            <wsdl:input message="ns:getSynapseAppDataRequest" wsaw:Action="urn:getSynapseAppData"/>
            <wsdl:output message="ns:getSynapseAppDataResponse" wsaw:Action="urn:getSynapseAppDataResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getSynapseAppDataException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteLocalEntry">
            <wsdl:input message="ns:deleteLocalEntryRequest" wsaw:Action="urn:deleteLocalEntry"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:deleteLocalEntryException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SynapseApplicationAdminSoap11Binding" type="ns:SynapseApplicationAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteTask">
            <soap:operation soapAction="urn:deleteTask" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProxyService">
            <soap:operation soapAction="urn:deleteProxyService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteSequence">
            <soap:operation soapAction="urn:deleteSequence" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEndpoint">
            <soap:operation soapAction="urn:deleteEndpoint" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEvent">
            <soap:operation soapAction="urn:deleteEvent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSynapseAppData">
            <soap:operation soapAction="urn:getSynapseAppData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteLocalEntry">
            <soap:operation soapAction="urn:deleteLocalEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SynapseApplicationAdminSoap12Binding" type="ns:SynapseApplicationAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteTask">
            <soap12:operation soapAction="urn:deleteTask" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProxyService">
            <soap12:operation soapAction="urn:deleteProxyService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteSequence">
            <soap12:operation soapAction="urn:deleteSequence" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEndpoint">
            <soap12:operation soapAction="urn:deleteEndpoint" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEvent">
            <soap12:operation soapAction="urn:deleteEvent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSynapseAppData">
            <soap12:operation soapAction="urn:getSynapseAppData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteLocalEntry">
            <soap12:operation soapAction="urn:deleteLocalEntry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SynapseApplicationAdminHttpBinding" type="ns:SynapseApplicationAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteTask">
            <http:operation location="deleteTask"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteTask"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteProxyService">
            <http:operation location="deleteProxyService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteProxyService"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteSequence">
            <http:operation location="deleteSequence"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteSequence"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteEndpoint">
            <http:operation location="deleteEndpoint"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteEndpoint"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteEvent">
            <http:operation location="deleteEvent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteEvent"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getSynapseAppData">
            <http:operation location="getSynapseAppData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getSynapseAppData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getSynapseAppData"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLocalEntry">
            <http:operation location="deleteLocalEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="deleteLocalEntry"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SynapseApplicationAdmin">
        <wsdl:port name="SynapseApplicationAdminHttpsSoap11Endpoint" binding="ns:SynapseApplicationAdminSoap11Binding">
            <soap:address location="https://localhost:8243/services/SynapseApplicationAdmin.SynapseApplicationAdminHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="SynapseApplicationAdminHttpsSoap12Endpoint" binding="ns:SynapseApplicationAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/services/SynapseApplicationAdmin.SynapseApplicationAdminHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="SynapseApplicationAdminHttpsEndpoint" binding="ns:SynapseApplicationAdminHttpBinding">
            <http:address location="https://localhost:8243/services/SynapseApplicationAdmin.SynapseApplicationAdminHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>