components/mediation/message-processor/org.wso2.carbon.message.processor.ui/src/main/resources/MessageProcessorAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://service.processor.message.carbon.wso2.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://service.processor.message.carbon.wso2.org">
    <wsdl:documentation>MessageProcessorAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.synapse/xsd">
            <xs:element name="modifyMessageProcessor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageProcessorNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageProcessorNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageProcessor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageProcessorResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClassName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClassNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteMessageProcessor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMessageProcessor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="modifyMessageProcessorRequest">
        <wsdl:part name="parameters" element="ns:modifyMessageProcessor"/>
    </wsdl:message>
    <wsdl:message name="getMessageProcessorRequest">
        <wsdl:part name="parameters" element="ns:getMessageProcessor"/>
    </wsdl:message>
    <wsdl:message name="getMessageProcessorResponse">
        <wsdl:part name="parameters" element="ns:getMessageProcessorResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessageProcessorNamesRequest">
        <wsdl:part name="parameters" element="ns:getMessageProcessorNames"/>
    </wsdl:message>
    <wsdl:message name="getMessageProcessorNamesResponse">
        <wsdl:part name="parameters" element="ns:getMessageProcessorNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="addMessageProcessorRequest">
        <wsdl:part name="parameters" element="ns:addMessageProcessor"/>
    </wsdl:message>
    <wsdl:message name="deleteMessageProcessorRequest">
        <wsdl:part name="parameters" element="ns:deleteMessageProcessor"/>
    </wsdl:message>
    <wsdl:message name="getClassNameRequest">
        <wsdl:part name="parameters" element="ns:getClassName"/>
    </wsdl:message>
    <wsdl:message name="getClassNameResponse">
        <wsdl:part name="parameters" element="ns:getClassNameResponse"/>
    </wsdl:message>
    <wsdl:portType name="MessageProcessorAdminServicePortType">
        <wsdl:operation name="modifyMessageProcessor">
            <wsdl:input message="tns:modifyMessageProcessorRequest"
                        wsaw:Action="urn:modifyMessageProcessor"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageProcessor">
            <wsdl:input message="tns:getMessageProcessorRequest"
                        wsaw:Action="urn:getMessageProcessor"/>
            <wsdl:output message="tns:getMessageProcessorResponse"
                         wsaw:Action="urn:getMessageProcessorResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageProcessorNames">
            <wsdl:input message="tns:getMessageProcessorNamesRequest"
                        wsaw:Action="urn:getMessageProcessorNames"/>
            <wsdl:output message="tns:getMessageProcessorNamesResponse"
                         wsaw:Action="urn:getMessageProcessorNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addMessageProcessor">
            <wsdl:input message="tns:addMessageProcessorRequest"
                        wsaw:Action="urn:addMessageProcessor"/>
        </wsdl:operation>
        <wsdl:operation name="deleteMessageProcessor">
            <wsdl:input message="tns:deleteMessageProcessorRequest"
                        wsaw:Action="urn:deleteMessageProcessor"/>
        </wsdl:operation>
        <wsdl:operation name="getClassName">
            <wsdl:input message="tns:getClassNameRequest" wsaw:Action="urn:getClassName"/>
            <wsdl:output message="tns:getClassNameResponse" wsaw:Action="urn:getClassNameResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageProcessorAdminServiceSoap11Binding"
                  type="tns:MessageProcessorAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="modifyMessageProcessor">
            <soap:operation soapAction="urn:modifyMessageProcessor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getMessageProcessor">
            <soap:operation soapAction="urn:getMessageProcessor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageProcessorNames">
            <soap:operation soapAction="urn:getMessageProcessorNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMessageProcessor">
            <soap:operation soapAction="urn:addMessageProcessor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteMessageProcessor">
            <soap:operation soapAction="urn:deleteMessageProcessor" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getClassName">
            <soap:operation soapAction="urn:getClassName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageProcessorAdminServiceSoap12Binding"
                  type="tns:MessageProcessorAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="modifyMessageProcessor">
            <soap12:operation soapAction="urn:modifyMessageProcessor" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getMessageProcessor">
            <soap12:operation soapAction="urn:getMessageProcessor" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageProcessorNames">
            <soap12:operation soapAction="urn:getMessageProcessorNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMessageProcessor">
            <soap12:operation soapAction="urn:addMessageProcessor" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteMessageProcessor">
            <soap12:operation soapAction="urn:deleteMessageProcessor" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getClassName">
            <soap12:operation soapAction="urn:getClassName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageProcessorAdminServiceHttpBinding"
                  type="tns:MessageProcessorAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="modifyMessageProcessor">
            <http:operation location="modifyMessageProcessor"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getMessageProcessor">
            <http:operation location="getMessageProcessor"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageProcessorNames">
            <http:operation location="getMessageProcessorNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMessageProcessor">
            <http:operation location="addMessageProcessor"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteMessageProcessor">
            <http:operation location="deleteMessageProcessor"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getClassName">
            <http:operation location="getClassName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageProcessorAdminService">
        <wsdl:port name="MessageProcessorAdminServiceHttpsSoap11Endpoint"
                   binding="tns:MessageProcessorAdminServiceSoap11Binding">
            <soap:address
                    location="https://localhost:8243/services/MessageProcessorAdminService.MessageProcessorAdminServiceHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MessageProcessorAdminServiceHttpsSoap12Endpoint"
                   binding="tns:MessageProcessorAdminServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:8243/services/MessageProcessorAdminService.MessageProcessorAdminServiceHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MessageProcessorAdminServiceHttpsEndpoint"
                   binding="tns:MessageProcessorAdminServiceHttpBinding">
            <http:address
                    location="https://localhost:8243/services/MessageProcessorAdminService.MessageProcessorAdminServiceHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>